var _{{.enum.Name}}TextMap = map[{{.enum.Name}}]string{
{{- range $rIndex, $value := .enum.Values }}
    {{$value.PrefixedName}}:      "{{$value.Comment}}",
{{- end }}
}

func (x {{.enum.Name}}) Text(upCaseHead bool) string {
	text := []rune(_{{.enum.Name}}TextMap[x])
	var res string
	if upCaseHead {
		res = strings.ToUpper(string(text[:1])) + string(text[1:])
	} else {
		res = strings.ToLower(string(text[:1])) + string(text[1:])
	}
	return res
}

