# resolver 127.0.0.11 valid=10s;

upstream backend{
    server ${APP_LOCAL_HOST}:3000;
}

server {
    listen 80;

    location /static {
        alias /data/static;
    }

    location /favicon.ico {
        alias /data/static/favicon.ico;
    }

    
    location / {
        proxy_pass http://backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
