# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

tmp

# Dependency directories (remove the comment below to include it)
# vendor/

#*#
*~
.env.local*
.env.testing*
*_password.txt
.secrets*
*local_testing.yml
nginx/logs/*.log
nginx/logs/*.pid
tls-cache
bin
translate.*.toml
.vscode
geoip/*.mmdb