{{define "about" -}}
    {{template "head" . -}}

    <article>
	<h1>关于笛卡</h1>
	<p>笛卡是一个基于用户投票对内容进行排序的互联网社区。本社区的发起灵感来自阮一峰的<a href="https://www.ruanyifeng.com/blog/2012/02/ranking_algorithm_hacker_news.html" target="_blank">基于用户投票的排名算法</a>系列文章，同时也出于开发者本人对投票排名算法的兴趣，以及对互联网内容质量的要求。如果你也是一个对从互联网中发掘和分享优质内容，并基于这些内容进行高质量讨论感兴趣的人，那么欢迎<a href="/register">加入</a>。</p>
    </article>

    {{template "foot" . -}}
{{end -}}
