{{- define "activity_list" -}}
    <style>
     .activity-list{
	 padding-left: 1rem;
     }
     .activity-list li{
	 margin-bottom: 0.5rem;
     }
     .activity-list .activity-list__info{
	 margin-left: 1rem;
	 padding: 4px 10px;
	 background: var(--text-bg);
	 font-size: 0.8rem;
     }
    </style>
    <ul class="activity-list">
	{{- range . -}}
	    <li>
		<div>
		    {{.FormattedText}}
		</div>
		<div class="activity-list__info">
		    <b>Type</b>: {{.Type}}
		    <br/>
		    <b>IP Address</b>: {{.IpAddr}}
		    <br/>
		    <b>Device Info</b>: {{.DeviceInfo}}
		    <br/>
		    <b>Details</b>: {{.Details}}
		</div>
	    </li>
	{{- end -}}

	{{- placehold . "<i class='text-lighten-2'>No data</i>" -}}
    </ul>
{{- end -}}
