{{define "article_list" -}}

    {{template "head" . -}}

    <style>
     .article-list .article-list__operation a,
     .article-list .article-list__operation span{
	 /* color: var(--theme-color); */
	 font-size: 0.8rem;
     }
     
     .article-list .article-list__summary{
	 font-size: 0.8rem;
     }
    </style>
    
    {{$debug := .Debug -}}
    {{$data := .Data -}}
    {{- $sortTabs := list "list_best" "latest" -}}
    {{- $sortTabMap := dict "list_best" "Best" "latest" "Latest" -}}
    <div class="tabs">
	{{- range $sortTabs -}}
	    {{- if eq $data.SortType . -}}
		<span class="tab active">{{get $sortTabMap .}}</span>
	    {{- else -}}	
		<a class="tab" href="/articles{{if ne . "list_best"}}?sort={{.}}{{end}}">{{get $sortTabMap .}}</a>
	    {{- end -}}
	{{- end -}}
    </div>

    {{$currUser := .LoginedUser -}}
    {{$csrfField := .CSRFField -}}
    {{$startIndex := add (mul (add $data.CurrPage -1) $data.PageSize) 1}}
    <ol class="article-list" start="{{$startIndex}}">
	{{range $idx, $item := .Data.Articles -}}
	    <li>
		<a {{if eq $idx 0}}id="article-list-head"{{end}} href="/articles/{{$item.Id}}">{{$item.DisplayTitle}}</a>
		<br/>
		<small class="text-lighten-3">By <a class="text-lighten-3" href="/users/{{$item.AuthorId}}">{{$item.AuthorName}}</a> <time title="{{$item.CreatedAt}}">{{timeAgo $item.CreatedAt}}</time> | vote score {{$item.VoteScore}}&nbsp;
		    {{- if $debug -}} | weight {{$item.ListWeight}}{{- end -}}
		</small>
		<div class="article-list__summary" class="text-lighten-2">{{$item.Summary}}{{if ne $item.Summary $item.Content}} ...{{end}}</div>
		<div class="article-list__operation">
		    <!-- <span class="article-list__vote-mark">&#9650;</span> -->
		    <form class="vote-form{{if and $currUser (eq $item.CurrUserState.VoteType "up")}} voted{{end}}" action="/articles/{{$item.Id}}/vote" method="POST">
			{{$csrfField}}
			<input name="type" type="hidden" value="up"/>
			<button class="btn-vote--up" type="submit">&#9650;</button>
		    </form>
		    {{- if gt $item.VoteScore 0 -}}
			<span class="article-list__vote-score">{{$item.VoteScore}}</span>
		    {{- else -}}
			<span class="article-list__vote-score">0</span>
		    {{- end -}}
		    &nbsp;&nbsp;
		    {{- if eq $item.TotalReplyCount 0 -}}
			<a href="/articles/{{$item.Id}}">Discuss</a>
		    {{- else -}}
			<a href="/articles/{{$item.Id}}#replies">{{local "ReplyNum" "Count" $item.TotalReplyCount}}</a>
		    {{- end -}}
		</div>
	    </li>
	{{end -}}
    </ol>

    {{- $pagiData := dict "currPage" .Data.CurrPage "totalPage" .Data.TotalPage "pathPrefix" "/articles"  -}}
    {{- template "pagination" $pagiData -}}

    {{template "foot" -}}
{{end -}}
