{{define "article" -}}
    {{- $pageDepth := 0 -}}
    {{- $data := dict "currUser" .LoginedUser "article" .Data.Article "delPage" .Data.DelPage "pageDepth" $pageDepth "CSRFField" .CSRFField "maxDepth" .Data.MaxDepth "debug" .Debug -}}

    {{template "head" . -}}

    <style>
     .replies{
	 margin-top: 0;
	 list-style:none;
	 margin-left:0;
	 padding-left: 0;
     }

     .replies li>.replies{
	 padding-left: var(--reply-indent-size);
	 border-left: 1px dashed var(--border-color);
     }
     .replies li{
	 border: 1px solid transparent;
     }
     .replies li>article{
	 border-bottom: 1px dashed transparent;
     }
     .replies li>article:hover{
	 background: var(--background-hover);
     }
     
     .replies li:focus,
     .replies li.active,
     .replies li:target{
	 border: 1px solid var(--border-color);
     }
     .replies li.active>.replies,
     .replies li:target>.replies{
	 border-left-color: transparent;
     }
     .replies li.active>article,
     .replies li:target>article{
	 border-bottom: 1px dashed var(--border-color)
     }
     .article-operation,
     .article-operation a{
	 color: var(--text-lighten-2);
	 vertical-align: baseline;
     }
     .article-operation form{
	 display: inline-block;
	 padding: 0;
	 margin: 0;
	 vertical-align: text-top;
	 line-height: 0;
     }
     .article-operation button[type="submit"]{
	 display: inline-block;
	 padding: 0;
	 border: none;
	 line-height: 1;
	 vertical-align: text-top;
	 font-size: 1rem;
	 cursor: pointer;
	 background: transparent;
	 color: var(--text-lighten-2);
     }
     .article-operation button[type="submit"]:hover{
	 color: var(--text-lighten-3);
     }
     .article-operation .voted button[type="submit"]{
	 color: var(--theme-color);
     }
     .btn-vote--up,
     .btn-vote--down{
	 position: relative;
     }
     .btn-vote--up{
	 top: 1px;
     }
     .btn-vote--down{
	 margin-left: 0.5rem;
	 margin-right: 0.5rem;
     }
     .reply-tab{
	 display: flex;
	 margin-top: 16px;
	 flex-wrap: wrap;
	 justify-content: space-between;
	 border-bottom: 1px solid var(--border-color)
     }
     .reply-tab .reply-tab__title{
	 font-weight: bold;
	 line-height: 32px;
     }

     .reply-tab .tabs{
	 margin-bottom: -1px;
	 border-bottom-color: transparent;
     }
    </style>

    {{template "article_content" $data -}}

    {{- if and $data.article.Replies (gt $data.article.Replies.TotalPage 1) -}}
	{{- $prefix := printf "/articles/%d" $data.article.Id -}}
	{{- $pagiData := dict "currPage" $data.article.Replies.CurrPage "totalPage" $data.article.Replies.TotalPage "pathPrefix" $prefix -}}
	{{- template "pagination" $pagiData -}}
    {{- end -}}

    <script>
     document.documentElement.addEventListener('mouseup', function(ev){
	 /* console.log(ev) */
	 removeAllActive('li', document.getElementById('replies-box'))
     })

     function removeAllActive(tagName, parentNode){
	 var parent = parentNode || document
	 var els = parent.getElementsByTagName(tagName)
	 for (var i = 0; i < els.length; i++){
	     removeClass(els[i], 'active')
	 }
     }
     
     function toggleDisplayChild(event, el, id){
	 var currRow = document.getElementById(id)
	 var child = el.getElementsByTagName('ul')[0]
	 if (child){
	     if (child.style.display == 'none'){
		 child.style.display = ''
	     } else {
		 child.style.display = 'none'
	     }
	 }
	 
	 window.scrollTo({
	     top: currRow.getBoundingClientRect().top + document.documentElement.scrollTop,
	     behavior: "smooth",
	 })
     }

     function toggleActive(el){
	 removeAllActive('li', document.getElementById('replies-box'))
	 addClass(el, 'active')
     }

     function removeClass(el, className){
	 var classes = el.className.split(" ")
	 var idx = classes.indexOf(className)
	 if(idx > -1){
	     classes.splice(idx, 1)
	 }
	 el.className = classes.join(" ")
     }

     function addClass(el, className){
	 var classes = el.className.split(" ")
	 var idx = classes.indexOf(className)
	 if(idx == -1){
	     classes.push(className)
	 }
	 el.className = classes.join(" ")
     }

     function onArticleMouseDown(ev, el, id){
	 function onArticleMouseUp(){
	     /* console.log(ev, el) */
	     event.preventDefault()
	     event.stopPropagation()

	     if (el.className.split(" ").indexOf('active') > -1){
		 toggleDisplayChild(ev, el, id)
	     } else {
		 toggleActive(el) 
	     }
	 }
	 
	 el.onmouseup = onArticleMouseUp
	 setTimeout(function(){
	     el.onmouseup = null
	 }, 300)
     }
    </script>

    {{template "foot" -}}
{{- end -}}

{{define "article_content" -}}
    {{$isRoot := eq .article.ReplyDepth 0 -}}
    {{$pageDepth := add .pageDepth 1 -}}
    {{$data := dict "currUser" .currUser "article" .article "pageDepth" $pageDepth "CSRFField" .CSRFField "maxDepth" .maxDepth "isRootArticle" $isRoot "debug" .debug -}}
    <article>
	{{if $isRoot -}}
	    <h1>{{.article.Title}}</h1>
	{{else -}}
	    {{if eq $pageDepth 1 -}}
		<h1>Re{{if gt .article.ReplyDepth 1}} &times; {{.article.ReplyDepth}}{{- end -}}: <a href="/articles/{{.article.ReplyRootArticleId}}">{{.article.ReplyRootArticleTitle}}</a></h1>
	    {{- end -}}
	{{- end -}}

	<div class="text-lighten-3" style="margin-bottom:0px;">
	    <small>
		{{- if .article.Deleted -}}
		    <span>deleted</span>&nbsp;
		{{- else -}}
		    <a class="text-lighten-3" href="/users/{{.article.AuthorId}}">{{.article.AuthorName}}</a>&nbsp;
		{{- end -}}
		published <time title="{{.article.CreatedAt}}">{{timeAgo .article.CreatedAt}}</time> |&nbsp;
		{{- if ne .article.CreatedAt .article.UpdatedAt -}}
		    modified <time title="{{.article.UpdatedAt}}">{{timeAgo .article.UpdatedAt}}</time> |&nbsp;
		{{- end -}}
		<a class="text-lighten-3" href="/articles/{{.article.Id}}">link</a> |&nbsp;
		<a class="text-lighten-3" href="#reply_{{.article.Id}}">anchor</a> |&nbsp;
		{{- local "ReplyNum" "Count" .article.TotalReplyCount -}}&nbsp;
		{{- if .article.Replies -}}
		    |&nbsp;{{.article.Replies.Total}} children&nbsp;
		{{- end -}}
		{{- if .debug -}}
		    |&nbsp;{{- .article.ReplyDepth}} depth
		    |&nbsp;{{- .article.Weight}} weight
		{{- end -}}
	    </small>
	</div>
	{{if .article.Deleted -}}
	    <i class="text-lighten-2">&lt;Deleted&gt;</i>
	{{- else -}}
	    <section style="white-space: break-spaces">{{- .article.Content -}}</section>
	{{- end -}}

	{{if not .delPage -}}
	    {{template "article_operation_bar" $data -}}
	{{- end -}}
    </article>

    {{if and .delPage .currUser -}}
	<form method="post" action="/articles/{{.article.Id}}/delete{{if gt .pageDepth 1}}?from=reply{{- end}}" id="del_form_{{.article.Id}}" style="margin:12px 0 12px;padding:10px;border:1px solid #ccc;">
	    {{.CSRFField -}}
	    <input type="hidden" name="id" value="{{.article.Id}}">
	    <label for="confirm_del">Confirm to delete?</label>
	    <br/>
	    <br/>
	    <button type="submit">Delete</button>
	</form>
    {{- else -}}
	
	{{if eq .pageDepth 0 -}}
	    {{if .currUser -}}
		{{if not .article.Deleted -}}
		    {{template "article_reply_form" $data -}}
		{{- end -}}
	    {{- end -}}
	    {{- if gt .article.TotalReplyCount 0 -}}
		<div class="reply-tab">
		    <div class="reply-tab__title">{{local "ReplyNum" "Count" .article.TotalReplyCount}}</div>
		    {{- $article := .article -}}
		    {{- $sortTabs := list "best" "latest" -}}
		    {{- $sortTabMap := dict "best" "Best" "latest" "Latest" -}}
		    <div class="tabs">
			{{- range $sortTabs -}}
			    {{- if eq $article.Replies.SortType . -}}
				<span class="tab active">{{get $sortTabMap .}}</span>
			    {{- else -}}	
				<a class="tab" href="/articles/{{$article.Id}}{{if ne . "best"}}?sort={{.}}{{end}}">{{get $sortTabMap .}}</a>
			    {{- end -}}
			    
			{{- end -}}
		    </div>
		</div>
	    {{- end -}}
	{{- end -}}

	{{- if .article.Replies -}}
	    {{$replyData := dict "currUser" .currUser "replies" .article.Replies "pageDepth" $pageDepth "CSRFField" .CSRFField "maxDepth" .maxDepth "debug" .debug -}}
	    {{template "article_replies" $replyData -}}
	{{- end -}}
    {{- end -}}

{{- end -}}

{{define "article_operation_bar" -}}
    <div class="article-operation">
	<small>
	    {{- if not .article.Deleted -}}
		<form action="/articles/{{.article.Id}}/vote" method="POST" {{if eq .article.CurrUserState.VoteType "up"}}class="voted"{{end}}>
		    {{.CSRFField}}
		    <input name="type" type="hidden" value="up"/>
		    <button class="btn-vote--up" type="submit">&#9650;</button>
		</form>
		{{- if gt .article.VoteScore 0 -}}
		    <span>{{.article.VoteScore}}<span>
		{{- end -}}
		<form action="/articles/{{.article.Id}}/vote" method="POST" {{if eq .article.CurrUserState.VoteType "down"}}class="voted"{{end}}>
		    {{.CSRFField}}
		    <input name="type" type="hidden" value="down"/>
		    <button class="btn-vote--down" type="submit">&#9660;</button>
		</form>&nbsp;
		{{- if .currUser -}}
		    {{- if eq .currUser.Id .article.AuthorId -}}
			<a href="/articles/{{.article.Id}}/edit" class="btn-edit">Edit</a>&nbsp;&nbsp;<a class="btn-del" href="/articles/{{.article.Id}}/delete">Delete</a>&nbsp;&nbsp;
		    {{- end -}}
		    {{- if gt .pageDepth 1 -}}
			<a href="/articles/{{.article.Id}}/reply">Reply</a>&nbsp;&nbsp;
		    {{- end -}}
		{{- else -}}
		    <a href="/articles/{{.article.Id}}/reply">Reply</a>&nbsp;&nbsp;
		{{- end -}}
	    {{- end -}}
	    {{- if and (eq .pageDepth 1) (not .isRootArticle) -}}
		<a href="/articles/{{.article.ReplyTo}}">Parent</a>
	    {{- end -}}
	</small>
    </div>
{{- end -}}

{{define "article_reply_form" -}}
    {{$inputName := "reply_to" -}}
    {{if not .article -}}
	{{$inputName = "reply_to_tpl" -}}
    {{- end -}}
    <form id="reply_form{{if not .article}}_tpl{{- end}}" class="reply_form" method="post" action="/articles" style="{{if not .article}}display:none;{{- end}}margin-top: 20px">
	{{.CSRFField -}}
	<input id="{{$inputName}}" name="{{$inputName}}" type="hidden" value="{{if .article}}{{.article.Id}}{{- end}}"/>
	<textarea required cols="30" id="content" name="content" rows="10" style="display:block;width:100%;margin-bottom:10px;box-sizing:border-box;"></textarea>
	<br/>
	<button type="submit">Submit</button>
    </form>
{{- end -}}

{{define "article_replies" -}}
    {{$currUser := .currUser -}}
    {{$pageDepth := .pageDepth -}}
    {{$CSRFField := .CSRFField -}}
    {{$maxDepth := .maxDepth}}
    {{$debug := .debug}}
    <ul class="replies" {{if eq $pageDepth 1}}id="replies-box"{{end}} style="{{if eq $pageDepth 1}}padding-left:0;{{- end}}">
	{{range .replies.List -}}
	    {{$subData := dict "currUser" $currUser "article" . "pageDepth" $pageDepth "CSRFField" $CSRFField "maxDepth" $maxDepth "debug" $debug -}}
	    <li id="reply_{{.Id}}" onmousedown="onArticleMouseDown(event, this, 'reply_{{.Id}}')">
		{{template "article_content" $subData -}}
	    </li>
	    {{if and (gt .TotalReplyCount 0) (eq $pageDepth $maxDepth) -}}
		<li style="padding-top:6px"><small><a href="/articles/{{.Id}}">More</a></small></li>
	    {{- end -}}
	{{- end -}}
    </ul>
{{- end -}}

