{{define "article" -}}
    {{- $pageDepth := 0 -}}
    {{- $data := dict "currUser" .LoginedUser "article" .Data.Article "pageType" .Data.PageType "pageDepth" $pageDepth "CSRFField" .CSRFField "maxDepth" .Data.MaxDepth "debug" .Debug "reactOptions" .Data.ReactOptions "reactMap" .Data.ReactMap "showEmoji" .UISettings.ShowEmoji -}}

    {{template "head" . -}}

    <style>
     article > section{
	 padding-bottom: 4px;
     }
     article > section a{
	 color: var(--text-lighten);
	 text-decoration: underline;
     }
     article > section a:visited{
	 color: var(--text-lighten-2);
     }
     article > section a:hover{
	 color: var(--text);
     }
     .article__reply-ref{
	 /* cursor: pointer; */
	 margin: 4px 0.5rem;
	 padding: 4px 6px;
     }
     .article__reply-ref a{
	 color: var(--text-lighten-2) !important;
     }
     .replies{
	 margin-top: 0;
	 list-style:none;
	 margin-left:0;
	 padding-left: 0;
     }

     .replies li>.replies{
	 padding-left: var(--reply-indent-size);
	 border-left: 1px dashed var(--border-color);
     }
     .replies li{
	 border: 1px solid transparent;
     }
     .replies li>article{
	 padding: 5px 0;
	 border-bottom: 1px dashed transparent;
     }
     .replies li>article:hover{
	 background: var(--background-hover);
     }
     
     .replies li:focus,
     .replies li.active,
     .replies li:target{
	 border: 1px solid var(--border-color);
     }
     .replies li.active>.replies,
     .replies li:target>.replies{
	 border-left-color: transparent;
     }
     .replies li.active>article,
     .replies li:target>article{
	 border-bottom: 1px dashed var(--border-color)
     }
     .reply-tab{
	 display: flex;
	 margin-top: 16px;
	 flex-wrap: wrap;
	 justify-content: space-between;
	 border-bottom: 1px solid var(--border-color)
     }
     .reply-tab .reply-tab__title{
	 font-weight: bold;
     }

     .reply-tab .tabs{
	 margin-bottom: -1px;
	 border-bottom-color: transparent;
     }
    </style>

    {{template "article_content" $data -}}

    {{- if and (eq $data.pageType "detail") (and $data.article.Replies (gt $data.article.Replies.TotalPage 1)) -}}
	{{- $prefix := printf "/articles/%d" $data.article.Id -}}
	{{- $pagiData := dict "currPage" $data.article.Replies.CurrPage "totalPage" $data.article.Replies.TotalPage "pathPrefix" .RoutePath "query" .RouteQuery -}}
	{{- template "pagination" $pagiData -}}
    {{- end -}}
    {{template "foot" . -}}
{{- end -}}

{{define "article_content" -}}
    {{$isRoot := eq .article.ReplyDepth 0 -}}
    {{$pageDepth := add .pageDepth 1 -}}
    {{$delPage := eq .pageType "del"}}
    {{$replyPage := eq .pageType "reply"}}
    {{$data := dict "currUser" .currUser "article" .article "pageDepth" $pageDepth "CSRFField" .CSRFField "maxDepth" .maxDepth "isRootArticle" $isRoot "debug" .debug "reactOptions" .reactOptions "reactMap" .reactMap "pageType" .pageType "showEmoji" .showEmoji -}}
    <article {{if $isRoot}}id="ar_{{.article.Id}}"{{end}}>
	{{if $isRoot -}}
	    <h1>{{.article.Title}}</h1>
	    {{if .article.Link}}<span class="text-lighten-3">(<a class="text-lighten-3" title="{{.article.Link}}" href="{{.article.Link}}">{{local "Source"}} {{getDomain .article.Link}}...</a> )</span>{{end}}
	{{else -}}
	    {{if eq $pageDepth 1 -}}
		<h1>{{local "Re"}}{{if gt .article.ReplyDepth 1}} &times; {{.article.ReplyDepth}}{{- end -}}: <a href="/articles/{{.article.ReplyRootArticleId}}">{{.article.ReplyRootArticleTitle}}</a></h1>
	    {{- end -}}
	{{- end -}}

	<div class="text-lighten-3" style="margin-bottom:0px;">
	    <small>
		{{- if .article.Pinned -}}
		    &#128204;&nbsp;
		{{- end -}}
		{{- if or (permit "article" "view_score") (and .article.ShowScore (gt .article.VoteScore 0)) -}}
		    {{local "VoteScore" "Score" .article.VoteScore | upHead 1}} |&nbsp;
		{{- end -}}
		{{- $author := print  "<a class=\"text-lighten-3\" href=\"/users/" .article.AuthorName "\">" .article.AuthorName "</a>" -}}
		{{- if .article.Deleted -}}
		    {{- $author = print "<span>" (local "Deleted" | lower) "</span>" -}}
		{{- end -}}
		{{- local "PublishInfo" "Username" $author -}}
		<time title="{{.article.CreatedAt}}">{{timeAgo .article.CreatedAt}}</time>
		{{- if ne .article.CreatedAt .article.UpdatedAt -}}
		    &nbsp;|&nbsp;
		    <a class="text-lighten-3" href="/articles/{{.article.Id}}/history">
			{{local "Modified"}}<time title="{{.article.UpdatedAt}}">{{timeAgo .article.UpdatedAt}}</time>
		    </a>
		{{- end -}}
		{{- if $isRoot -}}&nbsp;|&nbsp;<span>{{- local "ReplyNum" "Count" .article.TotalReplyCount -}}</span>{{- end -}}
		{{- if or (not .article.Deleted) (permit "article" "delete_others") -}}
		    &nbsp;|&nbsp;<a class="text-lighten-3" href="/articles/{{.article.Id}}">{{local "Link" | lower}}</a> |&nbsp;
		    <a class="text-lighten-3" href="#ar_{{.article.Id}}">{{local "Anchor" | lower}}</a> |&nbsp;
		    {{- if gt .pageDepth 1 -}}
			<a title="{{local "BtnParent"}}" class="btn-parent text-lighten-3" href="#ar_{{.article.ReplyToId}}">{{local "BtnParent" | lower}}</a> |&nbsp;
		    {{- end -}}

		    {{- if or (not .article.Locked) (permit "article" "lock") -}}
			{{- if permit "article" "save" -}}
			    <form class="btn-form" action="/articles/{{.article.Id}}/save" method="POST" >
				{{- .CSRFField -}}
				<input name="root" type="hidden" value="{{.article.ReplyRootArticleId}}"/>
				{{- $btnSaveText := local "BtnSave" -}}
				{{- if and .article.CurrUserState .article.CurrUserState.Saved -}}
				    {{$btnSaveText = local "BtnUnsave"}}
				{{- end -}}
				<button class="text-lighten-3" title="{{$btnSaveText}}" type="submit">{{$btnSaveText | lower}}</button>
			    </form>
			{{- end -}}
			{{- if permit "article" "subscribe" -}}
			    &nbsp;|&nbsp;<form class="btn-form" action="/articles/{{.article.Id}}/subscribe" method="POST" >
			    {{- .CSRFField -}}
			    <input name="root" type="hidden" value="{{.article.ReplyRootArticleId}}"/>
			    {{- $btnSubText := local "BtnSubscribe" -}}
			    {{- if and .article.CurrUserState .article.CurrUserState.Subscribed -}}
				{{$btnSubText = local "BtnUnsubscribe"}}
			    {{- end -}}
			    <button class="text-lighten-3" title="{{$btnSubText}}" type="submit">{{$btnSubText | lower}}</button>
			    </form>
			{{- end -}}
			{{- if .currUser -}}
			    {{- $isSelf := eq .currUser.Id .article.AuthorId -}}
			    {{- if or (and $isSelf (permit "article" "edit_mine")) (permit "article" "edit_others") -}}
				&nbsp;|&nbsp;<a class="btn-edit text-lighten-3" href="/articles/{{.article.Id}}/edit">{{local "BtnEdit" | lower}}</a>
			    {{- end -}}
			    {{- if or (and $isSelf (permit "article" "delete_mine")) (permit "article" "delete_others") -}}
				&nbsp;|&nbsp;<a class="btn-del text-lighten-3" href="/articles/{{.article.Id}}/delete">{{local "BtnDelete" | lower}}</a>
			    {{- end -}}
			{{- end -}}
		    {{- end -}}
		{{- end -}}
		{{- if .debug -}}
		    &nbsp;|&nbsp;
		    {{- .article.ReplyDepth}} depth |&nbsp;
		    {{- .article.Weight}} {{local "Weight"}}
		{{- end -}}
	    </small>
	</div>
	{{- if .article.ReplyToArticle -}}
	    {{- $parent := .article.ReplyToArticle -}}
	    <div class="article__reply-ref tip-block--gray">
		<small>&gt; <a class="text-lighten-2" href="/articles/{{$parent.Id}}">{{$parent.AuthorName}}: {{$parent.Summary}}{{if ne $parent.Content $parent.Summary}} ...{{end}}</a></small>
	    </div>
	{{- end -}}
	{{if .article.Deleted -}}
	    <i class="text-lighten-2">&lt;{{local "Deleted"}}&gt;</i>
	{{- end -}}
	
	{{if or (not .article.Deleted) (permit "article" "delete_others") -}}
	    <section class="{{if lt .article.VoteScore 0}}text-lighten-3{{else}}text-lighten{{end}}" style="white-space: break-spaces">{{- replaceLink .article.Content -}}</section>
	{{- end -}}

	{{if not $delPage -}}
	    {{template "article_operation_bar" $data -}}
	{{- end -}}
    </article>

    {{if and $delPage .currUser -}}
	{{- if or (permit "article" "delete_mine") (permit "article" "delete_others") -}}
	    <form method="post" class="form card" action="/articles/{{.article.Id}}/delete{{if gt .pageDepth 1}}?from=reply{{- end}}" id="del_form_{{.article.Id}}">
		{{.CSRFField -}}
		<input type="hidden" name="id" value="{{.article.Id}}">
		<label>{{local "ConfirmDelete"}}?</label>
		<br/>
		<br/>
		{{- if ne .currUser.Id .article.AuthorId -}}
		    <div class="form__row">
			<label class="form__label" for="reason">{{local "Reason"}}</label>
			<input id="reason" name="reason" type="text" required/>
		    </div>
		{{- end -}}
		<button type="submit">{{local "BtnDelete"}}</button>
	    </form>
	{{- end -}}
    {{- else -}}
	{{if eq .pageDepth 0 -}}
	    {{if .currUser -}}
		{{if and (not .article.Deleted) $replyPage -}}
		    {{template "article_reply_form" $data -}}
		{{- end -}}
	    {{- end -}}
	    
	    {{- if and (gt .article.TotalReplyCount 0) (not $replyPage) -}}
		<div id="replies" class="reply-tab">
		    <div class="reply-tab__title">{{local "ReplyNum" "Count" .article.TotalReplyCount}}</div>
		    {{- $article := .article -}}
		    {{- $sortTabs := list "best" "latest" "oldest" -}}
		    {{- $sortTabMap := dict "best" (local "Best") "latest" (local "Latest") "oldest" (local "TimeOrder") -}}
		    <div class="tabs">
			{{- range $sortTabs -}}
			    <a class="tab{{if eq $article.Replies.SortType .}} active{{end}}" href="/articles/{{$article.Id}}{{if ne . "best"}}?sort={{.}}#replies{{end}}">{{get $sortTabMap .}}</a>
			{{- end -}}
		    </div>
		</div>
	    {{- end -}}
	{{- end -}}

	{{- if and .article.Replies (not $replyPage) -}}
	    {{$replyData := dict "currUser" .currUser "replies" .article.Replies "pageDepth" $pageDepth "CSRFField" .CSRFField "maxDepth" .maxDepth "debug" .debug "reactOptions" .reactOptions "reactMap" .reactMap "showEmoji" .showEmoji -}}
	    {{template "article_replies" $replyData -}}
	{{- end -}}
    {{- end -}}

{{- end -}}

<!-- svg icon license -->
<!-- https://github.com/Templarian/MaterialDesign/blob/master/LICENSE -->
<!-- https://github.com/radix-ui/icons/blob/master/LICENSE -->

{{define "article_operation_bar" -}}
    <div class="article-operation">
	<small>
	    {{- if and (not .article.Deleted) (not .article.Locked) -}}
		    <form class="vote-form{{if eq .article.CurrUserState.VoteType "up"}} voted{{end}}" action="/articles/{{.article.Id}}/vote" method="POST">
		    {{.CSRFField}}
		    <input name="root" type="hidden" value="{{.article.ReplyRootArticleId}}"/>
		    <input name="type" type="hidden" value="up"/>
		    <button {{if not (permit "article" "vote_up")}}disabled{{end}} class="btn-vote--up" type="submit" title="{{if eq .article.CurrUserState.VoteType "up"}}{{local "CancelVote"}}{{else}}{{local "Upvote"}}{{end}}"><svg width="14" viewBox="0 1 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M1 21h22L12 2"/></svg></button>
		    </form>
		    &nbsp;&nbsp;
		    {{- if permit "article" "vote_down" -}}
			<form class="vote-form{{if eq .article.CurrUserState.VoteType "down"}} voted{{end}}" action="/articles/{{.article.Id}}/vote" method="POST">
			    {{.CSRFField}}
			    <input name="root" type="hidden" value="{{.article.ReplyRootArticleId}}"/>
			    <input name="type" type="hidden" value="down"/>
			    <button class="btn-vote--down" type="submit" title="{{if eq .article.CurrUserState.VoteType "down"}}{{local "CancelVote"}}{{else}}{{local "Downvote"}}{{end}}"><svg width="14" viewBox="0 1 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M1 3h22L12 22"/></svg></button>
			</form>&nbsp;
		    {{- end -}}
		    {{- if permit "article" "reply" -}}
			<a title="{{local "BtnReply"}}" href="/articles/{{.article.Id}}/reply">{{local "BtnReply"}}</a>&nbsp;&nbsp;
		    {{- end -}}
	    {{- end -}}

	    {{- if .article.Locked -}}
		<i class="text-lighten-2">&lt;{{local "Locked"}}&gt;</i>
	    {{- end -}}

	    {{$replyPage := eq .pageType "reply"}}
	    {{- if and (not $replyPage) (eq .pageDepth 1) (not .isRootArticle) -}}
		<a title="{{local "BtnParent"}}" href="/articles/{{.article.ReplyToId}}">{{local "BtnParent"}}</a>&nbsp;&nbsp;
	    {{- end -}}
	</small>

	<small>
	    {{- if not .article.Deleted -}}
		{{- $showEmoji := .showEmoji -}}
		{{- $reactOptions := .reactOptions -}}
		{{- $reactMap := .reactMap -}}
		{{- $article := .article -}}
		{{- $currReactFrontId := "" -}}
		{{- $currUser := .currUser -}}
		{{- $isSelf := and .currUser (eq .currUser.Id .article.AuthorId) -}}
		{{- $csrfField := .CSRFField -}}
		{{- $reactDescribeMap := dict "grinning" "Haha" "thanks" "Thanks" "confused" "Confuse" "eyes" "Watching" "party" "Yeah" -}}
		{{- if and .article.CurrUserState .article.CurrUserState.ReactFrontId -}}
		    {{- $currReactFrontId = .article.CurrUserState.ReactFrontId -}}
		{{- end -}}

		{{- if and $showEmoji $article.ReactCounts -}}
		    <div class="article-reacts">
			{{- range $reactOptions -}}
			    {{- $reactItem := index $reactMap .FrontId -}}
			    {{- if gt (index $article.ReactCounts .FrontId) 0 -}}
				{{- if not $isSelf -}}
				    {{- if permit "article" "react" -}}
					<form class="btn-form btn-react{{if eq $currReactFrontId .FrontId}} btn-react--selected{{end}}" action="/articles/{{$article.Id}}/react" method="POST">
					    {{$csrfField}}
					    <input name="root" type="hidden" value="{{$article.ReplyRootArticleId}}"/>
					    <input name="react_id" type="hidden" value="{{.Id}}"/>
					    <button type="submit" title="{{$reactItem.Describe}}">{{$reactItem.Emoji}}{{index $article.ReactCounts .FrontId}}</button>
					</form>
				    {{- end -}}
				{{- else -}}
				    <span class="btn-react" title="{{$reactItem.Describe}}">{{$reactItem.Emoji}}{{index $article.ReactCounts .FrontId}}</span>
				{{- end -}}
			    {{- end -}}
			{{- end -}}
		    </div>
		{{- end -}}
		
		{{- if and $showEmoji (not $isSelf) -}}
		    {{- if permit "article" "react" -}}
			<form class="btn-form btn-react" action="/articles/{{.article.Id}}/react" method="POST">
			    {{.CSRFField}}
			    <input name="root" type="hidden" value="{{.article.ReplyRootArticleId}}"/>
			    <span>
				<svg width="16" viewBox="0 -2 16 16" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" fill-rule="evenodd" d="M7.5.877a6.623 6.623 0 1 0 0 13.246A6.623 6.623 0 0 0 7.5.877ZM1.827 7.5a5.673 5.673 0 1 1 11.346 0a5.673 5.673 0 0 1-11.346 0Zm3.21 1.714a.5.5 0 1 0-.82.572A3.996 3.996 0 0 0 7.5 11.5c1.36 0 2.56-.679 3.283-1.714a.5.5 0 0 0-.82-.572A2.996 2.996 0 0 1 7.5 10.5a2.996 2.996 0 0 1-2.463-1.286Zm.338-2.364a.875.875 0 1 0 0-1.75a.875.875 0 0 0 0 1.75Zm5.125-.875a.875.875 0 1 1-1.75 0a.875.875 0 0 1 1.75 0Z" clip-rule="evenodd"/></svg>
				<select title="{{local "ReactTip"}}" required class="btn-react" id="react_{{$article.Id}}" name="react_id" autocomplete="off">
				    <option value="" selected hidden disabled></option>
				    {{- range .reactOptions -}}
					{{- $reactItem := index $reactMap .FrontId -}}
					<option value="{{$reactItem.Id}}">{{$reactItem.Emoji}}</option>
				    {{- end -}}
				</select>
			    </span>
			    <noscript>
				<button type="submit">{{local "BtnSubmit"}}</button>
			    </noscript>
			</form>
		    {{- end -}}
		{{- end -}}

		{{- if gt .pageDepth 1 -}}
		    <a title="{{local "BtnFold"}}" class="btn-fold" href="javascript:void(0);">{{local "BtnFold"}}</a>&nbsp;&nbsp;
		{{- end -}}
	    {{- end -}}
	</small>
    </div>
{{- end -}}

{{define "article_reply_form" -}}
    <form id="reply_form" class="reply_form" method="POST" action="/articles/{{.article.Id}}/reply" style="{{if not .article}}display:none;{{- end}}margin-top: 20px">
	{{.CSRFField -}}
	<input name="root" type="hidden" value="{{.article.ReplyRootArticleId}}"/>
	<textarea required cols="30" id="content" name="content" rows="10" style="display:block;width:100%;margin-bottom:10px;box-sizing:border-box;"></textarea>

	<div class="reply-form-bottom">
	    <div>
		<button type="submit">{{local "BtnSubmit"}}</button>
	    </div>
	    <div></div>
	</div>
    </form>
{{- end -}}

{{define "article_replies" -}}
    {{$currUser := .currUser -}}
    {{$pageDepth := .pageDepth -}}
    {{$CSRFField := .CSRFField -}}
    {{$maxDepth := .maxDepth -}}
    {{$debug := .debug -}}
    {{$reactOptions := .reactOptions -}}
    {{$reactMap := .reactMap -}}
    {{$showEmoji := .showEmoji -}}
    {{$pageMore := and (gt $pageDepth 1) (gt .replies.Total .replies.PageSize) -}}
    {{$replies := .replies -}}
    <ul class="replies" {{if eq $pageDepth 1}}id="replies-box"{{end}} style="{{if eq $pageDepth 1}}padding-left:0;{{- end}}">
	{{range $index, $el := .replies.List -}}
	    {{$subData := dict "currUser" $currUser "article" . "pageDepth" $pageDepth "CSRFField" $CSRFField "maxDepth" $maxDepth "debug" $debug "reactOptions" $reactOptions "reactMap" $reactMap "showEmoji" $showEmoji -}}
	    {{- $replyNumIncludeSelf := add .ChildrenCount 1 -}}
	    {{$deepMore := and (gt .ChildrenCount 0) (eq $pageDepth $maxDepth) -}}
	    <li id="ar_{{.Id}}" data-id="{{.Id}}" data-reply-num-self-include-text="{{local "ReplyNum" "Count" $replyNumIncludeSelf}}">
		{{template "article_content" $subData -}}
	    </li>
	    {{- if $deepMore -}}
		<li style="padding-top:6px"><small><a href="/articles/{{.Id}}">{{local "BtnMore"}}</a></small></li>
	    {{- end -}}
	    {{- if and $pageMore (eq $index (add (len $replies.List) -1)) -}}
		<li style="padding-top:6px"><small><a href="/articles/{{.ReplyTo}}?page=2">{{local "BtnNextPage"}}</a></small></li>
	    {{- end -}}
	{{- end -}}
    </ul>
{{- end -}}
