{{define "article_list" -}}

    {{template "head" . -}}

    <style>
     .article-list .article-list__summary{
	 font-size: 0.8rem;
     }
    </style>
    
    {{$debug := .Debug -}}
    {{$data := .Data -}}
    {{- $sortTabs := list "list_best" "latest" "list_hot" -}}
    {{- $sortTabMap := dict "list_best" "Best" "latest" "Latest" "list_hot" "Hot" -}}
    <div class="tabs">
	{{- range $sortTabs -}}
	    <a class="tab{{if eq $data.SortType .}} active{{end}}" title="{{get $sortTabMap .}}" href="/articles{{if ne . "list_best"}}?sort={{.}}{{end}}">{{get $sortTabMap .}}</a>
	{{- end -}}
    </div>

    {{$currUser := .LoginedUser -}}
    {{$csrfField := .CSRFField -}}
    {{$startIndex := add (mul (add $data.CurrPage -1) $data.PageSize) 1}}
    <ol class="article-list" start="{{$startIndex}}">
	
	{{- placehold .Data.Articles "<i class='text-lighten'>No data</i>" -}}
	{{range $idx, $item := .Data.Articles -}}
	    <li>
		<a {{if eq $idx 0}}id="article-list-head"{{end}} href="/articles/{{$item.Id}}">{{$item.DisplayTitle}}</a>
		<br/>
		<small class="text-lighten-3">By <a class="text-lighten-3" href="/users/{{$item.AuthorId}}">{{$item.AuthorName}}</a> <time title="{{$item.CreatedAt}}">{{timeAgo $item.CreatedAt}}</time> | vote score {{$item.VoteScore}}&nbsp;
		    {{- if $debug -}}
			| weight {{$item.ListWeight}}
			| participate {{$item.ParticipateCount}}
		    {{- end -}}
		</small>
		<div class="article-list__summary" class="text-lighten-2">{{$item.Summary}}{{if ne $item.Summary $item.Content}} ...{{end}}</div>
		<div class="article-operation">
		    <small>
			<form class="vote-form{{if and $currUser (eq $item.CurrUserState.VoteType "up")}} voted{{end}}" action="/articles/{{$item.Id}}/vote" method="POST">
			    {{$csrfField}}
			    <input name="type" type="hidden" value="up"/>
			    <button class="btn-vote--up" type="submit" title="Upvote"><svg width="14" viewBox="0 1 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M1 21h22L12 2"/></svg></button>
			</form>
			{{- if gt $item.VoteScore 0 -}}
			    <span class="article-list__vote-score">{{$item.VoteScore}}</span>
			{{- else -}}
			    <span class="article-list__vote-score">0</span>
			{{- end -}}
			&nbsp;&nbsp;
			{{- if eq $item.TotalReplyCount 0 -}}
			    <a href="/articles/{{$item.Id}}">Discuss</a>
			{{- else -}}
			    <a href="/articles/{{$item.Id}}#replies">{{local "ReplyNum" "Count" $item.TotalReplyCount}}</a>
			{{- end -}}
		    </small>
		</div>
	    </li>
	{{end -}}
    </ol>

    {{- $pagiData := dict "currPage" .Data.CurrPage "totalPage" .Data.TotalPage "pathPrefix" "/articles"  -}}
    {{- template "pagination" $pagiData -}}

    {{template "foot" -}}
{{end -}}
