{{define "article_content"}}
<article>
  <h1>{{.Title}}</h1>
  <small>{{.AuthorName}} 发布于 {{.CreatedAtStr}}, 更新于 {{.UpdatedAtStr}}</small>
  <div><a href="/articles/{{.Id}}/edit">编辑</a> <a href="javascript:handleDelete({{.Id}});" style="color:red">删除</a></div>
  <form method="post" action="/articles/{{.Id}}/delete" id="delForm" style="display: none">
    <input type="hidden" name="id" value="{{.Id}}">
  </form>
  <section>{{.Content}}</section>
</article>
{{end}}

{{define "article"}}

{{template "head" .}}

{{template "article_content" .Data}}

<script>
  function handleDelete(id) {
    if (confirm('确认删除？')) {
      const formEl = document.getElementById('delForm')
      formEl.submit()
    }
  }
</script>
{{template "foot"}}
{{end}}
