{{define "create" -}}
    {{template "head" . -}}

    <style>
     .create-form input,
     .create-form textarea{
	 display: block;
	 width: 100%;
	 box-sizing: border-box;
     }
    </style>
    {{- $isReply := ne .Data.ReplyTo 0 -}}
    <form class="form create-form" method="post" action="/articles{{- if .Data.Id -}}/{{.Data.Id}}/edit{{- end -}}">
	{{.CSRFField -}}
	{{if .Data.Id -}}
	    <input type="hidden" name="id" value="{{.Data.Id}}">
	    <input name="reply_depth" type="hidden" value="{{.Data.ReplyDepth}}"/>
	{{end -}}

	{{if and .Data.Id (gt .Data.ReplyDepth 0) -}}
	    <h1>{{local "Re"}}{{if gt .Data.ReplyDepth 1}} &times; {{.Data.ReplyDepth}}{{end}}: <a href="/articles/{{.Data.ReplyRootArticleId}}">{{.Data.ReplyRootArticleTitle}}</a></h1>
	{{else -}}
	    <div class="form__row">
		<label class="form__label" for="title">{{local "Title"}}:</label>
		<input required type="text" id="title" name="title" value="{{.Data.Title}}">
		<small class="text-lighten-2">({{local "FormRequired"}}) {{local "ArticleTitleTip"}}</small>
	    </div>
	    <div class="form__row">
		<label class="form__label" for="url">{{local "URL"}}:</label>
		<input type="url" id="url" name="url" value="{{.Data.Link}}">
		<small class="text-lighten-2">({{local "FormOptional"}}) {{local "ArticleURLTip"}}</small>
	    </div>
	{{end -}}
	
	<div class="form__row">
	    <label class="form__label" for="content">{{local "Content"}}:</label>
	    <textarea id="content" name="content" cols="30" rows="10">{{.Data.Content}}</textarea>
	    <small class="text-lighten-2">{{if not $isReply}}({{local "FormOptional"}}) {{end}}{{local "ArticleContentTip"}}</small>
	</div>
	<br/>
	<button type="submit">{{local "BtnSubmit"}}</button>
    </form>
    {{template "foot" . -}}
{{end -}}
