{{define "create" -}}
    {{template "head" . -}}

    <style>
     .create-form input[type="text"],
     .create-form input[type="url"],
     .create-form textarea{
	 display: block;
	 width: 100%;
	 box-sizing: border-box;
     }
    </style>
    {{- $article := .Data.Article -}}
    {{- $currCategoryFrontId := .Data.CurrCategoryFrontId -}}
    {{- $isReply := ne $article.ReplyToId 0 -}}

    <div class="tip-block">
	{{local "SubmitContentTip"}}
    </div>
    <form class="form create-form" method="post" action="/articles{{- if $article.Id -}}/{{$article.Id}}/edit{{- end -}}">
	{{.CSRFField -}}
	{{if $article.Id -}}
	    <input type="hidden" name="id" value="{{$article.Id}}">
	    <input name="reply_depth" type="hidden" value="{{$article.ReplyDepth}}"/>
	{{end -}}

	{{- if $article.Id -}}
	    <div class="text-lighten-2" style="margin-bottom: 20px">
		{{- $author := print  "<a class=\"text-lighten-3\" href=\"/users/" $article.AuthorName "\">" $article.AuthorName "</a>" -}}
		{{- local "PublishInfo" "Username" $author -}}
		<time title="{{$article.CreatedAt}}">{{timeAgo $article.CreatedAt}}</time>
	    </div>
	{{- end -}}

	{{if and $article.Id (gt $article.ReplyDepth 0) -}}
	    <h1>{{local "Re"}}{{if gt $article.ReplyDepth 1}} &times; {{$article.ReplyDepth}}{{end}}: <a href="/articles/{{$article.ReplyRootArticleId}}">{{$article.ReplyRootArticleTitle}}</a></h1>
	{{else -}}
	    <div class="form__row">
		<label class="form__label" for="title">{{local "Title"}} <small class="text-lighten-2" style="font-weight: normal">({{local "FormRequired"}})</small></label>
		<input required type="text" id="title" name="title" value="{{$article.Title}}">
		<small class="text-lighten-2">{{local "ArticleTitleTip" "Num" .Data.MaxTitleLen}}</small>
	    </div>

	    <div class="form__row">
		<label class="form__label" for="url">{{local "URL"}} <small class="text-lighten-2" style="font-weight: normal">({{local "FormOptional"}})</small></label>
		<input type="url" id="url" name="url" value="{{$article.Link}}">
		<small class="text-lighten-2">{{local "ArticleURLTip"}}</small>
	    </div>
	    
	    <div class="form__row">
		<label class="form__label" for="category">{{local "Category" "Count" 1}} <small class="text-lighten-2" style="font-weight: normal">({{local "FormRequired"}})</small></label>
		<select id="category" name="category_front_id" autocomplete="off">
		    {{- range .Data.Categories -}}
			<option {{if or (eq .FrontId $article.CategoryFrontId) (eq .FrontId $currCategoryFrontId)}}selected{{end}} value="{{.FrontId}}">{{.Name}}</option>
		    {{- end -}}
		</select>
		<div class="tip-block--gray">
		    <ul class="data-list" style="padding-left:0;margin:0;">
			{{- range .Data.Categories -}}
			    <li class="data-list__row"><b class="data-list__label">{{.Name}}:</b> <span class="data-list__content">{{.Describe}}</span></li>
			{{- end -}}
		    </ul>
		</div>
	    </div>
	{{end -}}
	
	<div class="form__row">
	    <label class="form__label" for="content">{{local "Content"}} <small class="text-lighten-2" style="font-weight: normal">{{if not $isReply}} ({{local "FormOptional"}}){{end}}</small></label>
	    <textarea id="content" name="content" cols="30" rows="10">{{$article.Content}}</textarea>
	    <small class="text-lighten-2">{{local "ArticleContentTip" "Num" .Data.MaxContentLen}}</small>
	</div>
	<!-- <div class="form__row">
	     <label class="form__label" for="content">通知</label>
	     <div>
	     <label><input name="notify" type="checkbox" checked autocomplete="off" value="message"/>消息通知 <small class="text-lighten-2">(将会收到消息提醒)</small></label>
	     <br/>
	     <label><input name="notify" type="checkbox" checked autocomplete="off" value="email"/>邮件通知 <small class="text-lighten-2">(回复将会发送到你的注册邮箱)</small></label>
	     </div>
	     </div> -->
	{{- if permit "article" "pin" -}}
	    <div class="form__row">
		<label class="form__label" for="pinned">{{local "Pin"}} <small class="text-lighten-2" style="font-weight: normal">({{local "FormOptional"}})</small></label>
		<label><input name="pinned" type="checkbox" autocomplete="off" {{if $article.Pinned}}checked{{end}} value="1"/> {{local "Pin"}}</label>
		<br/>
		<br/>
		{{- $timeInput := print "<input name=\"pinned_expire_at\" autocomplete=\"off\" type=\"datetime-local\" value=\"\"/>" -}}
		{{- if $article.Pinned -}}
		    {{- $timeInput = print "<input name=\"pinned_expire_at\" autocomplete=\"off\" type=\"datetime-local\" value=\"" (timeFormat $article.PinnedExpireAt "YYYY-MM-DDThh:mm") "\"/>" -}}
		{{- end -}}
		{{local "PinExpireAt" "Time" $timeInput}}
	    </div>
	{{- end -}}
	{{- if permit "article" "lock" -}}
	    <div class="form__row">
		<label class="form__label" for="locked">{{local "Lock"}} <small class="text-lighten-2" style="font-weight: normal">({{local "FormOptional"}})</small></label>
		<label><input name="locked" type="checkbox" autocomplete="off" {{if $article.Locked}}checked{{end}} value="1"/> {{local "Lock"}}</label>
	    </div>
	{{- end -}}
	
	{{- if and $article.Id  (permit "article" "edit_others") -}}
	    <hr/>
	    <br/>
	    <div class="form__row">
		<label class="form__label">{{local "EditHistory"}} <small class="text-lighten-2" style="font-weight: normal">({{local "FormOptional"}})</small></label>
		<label><input name="hide_changes" type="checkbox" autocomplete="off" {{if $article.Locked}}checked{{end}} value="1"/> {{local "HideChanges"}}</label>
	    </div>
	{{- end -}}
	<br/>
	<button type="submit">{{local "BtnSubmit"}}</button>
    </form>
    {{template "foot" . -}}
{{end -}}
