{{define "error" -}}

    {{template "head" . -}}

    <p id="err-msg">
	{{- .Data.HttpStatusCode -}}&nbsp;
	{{- .Data.ErrText -}}
	{{- if eq .Data.ErrCode 1000 -}}
	    <a href="/login">, go to login</a>.
	{{- else if eq .Data.ErrCode 1001 -}}
	    <a href="/register">, go to register</a>.
	{{- end -}}
    </p>
    <p>
	{{- if .Data.PrevUrl -}}
	    <a href="{{.Data.PrevUrl}}" onclick="history.go(-1);return false;">Go back</a>&nbsp;&nbsp;
	{{- end -}}
	<a href="/">Go home</a>
    </p>

    {{template "foot" . -}}

{{end -}}
