{{define "error" -}}

    {{template "head" . -}}

    <p id="err-msg">{{.Data.ErrText -}}</p>

    <p>
	{{if .Data.PrevUrl -}}
	    <a href="{{.Data.PrevUrl}}">Go Back</a>
	{{- end -}}
	&nbsp;&nbsp;<a href="/">Go Home</a>
    </p>

    {{template "foot" . -}}

{{end -}}
