{{define "foot" -}}
    <hr style="margin-top: 100px;"/>
    <footer>&copy; {{now | date "2006" -}}</footer>

    {{- if and .Debug .JSONStr -}}
	<script>
	 const DEBUG_DATA = {{.JSONStr -}};
	 console.dir(DEBUG_DATA);
	</script>
    {{- end -}}
    <script src="/static/js/app.js"></script>
</body>

</html>
{{end -}}
