{{define "guide" -}}
    {{template "head" . -}}

    <style>
     h2{
	 margin-bottom: .5rem;
	 font-size: 1.2em;
     }
    </style>

    <article>
	<h1>使用说明</h1>
	<h2>觉得字体太小或者对内容排版不满意？</h2>
	<p>你可以进入<a href="/settings/ui">设置页面</a>进行调整，包括语言、字体大小、内容布局、主题颜色等都可以在这里设置。</p>

	<h2>应该发布什么内容到笛卡上？</h2>
	<p>所有你认为值得分享和讨论的内容，最好是这些内容没有被人讨论过。</p>

	<h2>如何正确的发表评论？</h2>
	<p>我们鼓励独到的见解，重视逻辑与实证，并提供详实可靠的信息来源，鼓励基于你自身真实经历的分享。我们不鼓励纯粹的情绪宣泄、跑题、过于主观的论断、冷门生僻的网络词语以及“玩梗”，当然，所有违反你所在地区的法律的内容也是被禁止的。所有不鼓励的内容可能会被淡化或删除，发布者的声誉也会因此受到影响。</p>

	<h2>声誉系统是如何工作的？</h2>
	<p>发帖和评论都不会提高声誉，只有当你发布的内容被点了赞同或收到感谢才会增加声誉，发布不受欢迎的内容或者违规内容会被降低声誉。</p>

	<h2>笛卡相比别的社区平台有什么特点？</h2>
	<p>我们采用了<a href="https://developer.mozilla.org/zh-CN/docs/Glossary/Progressive_Enhancement">渐进增强</a>的方式进行开发，即，你可以使用最古老的浏览器浏览本站，你也可以完全禁用JavaScript或CSS，本站的大部分基础功能依然可以正常使用。我们力求做到网页版面设计的简洁，以突出主体内容，避免不相关的东西分散使用者的注意力。</p>

	<h2>排序是如何工作的？</h2>
	<p>我们主要使用了两个排序算法，文章列表使用了<a href="https://www.ruanyifeng.com/blog/2012/03/ranking_algorithm_reddit.html">Reddit的热门排序算法</a>，评论区采用了<a href="https://www.ruanyifeng.com/blog/2012/03/ranking_algorithm_wilson_score_interval.html">威尔逊置信区间算法</a>，这只是一个初步的尝试，后续可能根据内容变化进行适当调整。</p>
    </article>

    {{template "foot" . -}}
{{end -}}
