{{define "head"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  <style>
    nav {
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>

<body>
  <pre>{{printf "%+v" .JSONStr}}</pre>
  <script>
    const DEBUG_DATA = {{.JSONStr}}
    console.dir("DEBUG_DATA:", DEBUG_DATA)
  </script>
  {{range .TipMsg}}
  <div style="display:flex;justify-content:space-between;background-color:yellow">
    <span>{{.}}</span>
    <button onclick="javascript:this.parentNode.remove()">&times;</button>
  </div>
  {{end}}
  <nav>
    <div>
      <a href="/">Home</a>
      ·
      <a href="/articles/new">Create</a>
      {{if .LoginedUser}}
      ·
      <a href="/users/{{.LoginedUser.Id}}">{{.LoginedUser.Name}}</a>
      ·
      <a href="/logout">Logout</a>
      {{else}}
      ·
      <a href="/register">Register</a>
      ·
      <a href="/login">Login</a>
      {{end}}
    </div>
  </nav>
  <hr/>
{{end}}
