{{define "head" -}}
    {{- $bgColorLight := "white" -}}
    {{- $bgColorDark := "#282A36" -}}
    {{- $colorThemeMap := dict "light" $bgColorLight "dark" $bgColorDark -}}
    <!DOCTYPE html>
    <html lang="en" {{if .UISettings}}data-theme="{{.UISettings.Theme}}"{{end}}>
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="color-scheme" content="dark light" />
	    <meta name="theme-color" content="{{get $colorThemeMap .UISettings.Theme}}" />
	    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
	    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
	    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
	    <link rel="manifest" href="/static/site.webmanifest">
	    <title>{{.Title}} - {{.Slogan}}</title>
	    <link href="/static/css/style.css" rel="stylesheet"/>
	    <style>
	     :root[data-theme="light"] {
		 --background: {{$bgColorLight}};
	     }
	     :root[data-theme="dark"] {
		 --background: {{$bgColorDark}};
	     }
	    </style>
	</head>
	<body {{if and .UISettings (eq .UISettings.ContentLayout "centered") -}}style="max-width:1000px"{{end}}>
	    {{- if or (eq .RoutePath "/") (eq .RoutePath "/articles") -}}
		<a id="skip-button" class="skip-button" tab-index="0" href="#article-list-head">Skip To Content</a>
	    {{- end -}}
	    <nav class="top-nav">
		{{- $breadIdx := 0 -}}
		<ul class="nav-menu nav-menu--left">
		    <li><a class="brand logo" href="/"><b>{{.BrandName}}</b> {{.BrandDomainName}}</a></li>
		    {{- range .BreadCrumbs -}}
			{{- if gt $breadIdx 0 -}}
			    <li class="separator">/</li>
			{{- end -}}
			{{- $breadIdx = add $breadIdx 1 -}}
			<li><b>
			    {{- if .Path -}}
				<a href="{{.Path}}">{{.Name}}</a>
			    {{- else -}}
				{{.Name}}
			    {{- end -}}
			</b></li>
		    {{- end -}}
		</ul>
		<ul class="nav-menu nav-menu--right">
		    {{- if permit "article" "create" -}}
			<li><a href="/articles/new">&plus;New</a></li>
		    {{- end -}}
		    {{if .LoginedUser -}}
			<li><a href="/users/{{.LoginedUser.Id}}">{{.LoginedUser.Name}}</a></li>
			<li>
			    <form action="/logout" method="POST" style="display: inline">
				{{.CSRFField}}
				<button class="btn-link" type="submit">Logout</button>
			    </form>
			    <!-- <a href="/logout">Logout</a> -->
			</li>
		    {{else -}}
			<li><a href="/register">Register</a></li>
			<li><a href="/login">Login</a></li>
		    {{end -}}
		    <li>
			<a href="/settings">Settings</a>
		    </li>
		</ul>
	    </nav>
	    {{- if .Debug -}}
		<nav class="top-nav">
		    <ul class="nav-menu nav-menu--left">
			{{- if and .LoginedUser (permit "manage" "access") -}}
			    <li><a href="/manage/permissions">Permission</a></li>
			    <li><a href="/manage/roles">Role</a></li>
			    <li><a href="/manage/users">Users</a></li>
			    <li><a href="/manage/activities">Activity</a></li>
			{{- end -}}
		    </ul>
		    <ul class="nav-menu nav-menu--right">
			{{- if .LoginedUser -}}
			    <li>
				<form action="/login_debug" method="post">
				    {{.CSRFField}}
				    <select id="debug-user" name="debug-user-email">
					{{- $loginedUser := .LoginedUser -}}
					{{- range .DebugUsers -}}
					    <option value="{{.Email}}" {{if eq $loginedUser.Email .Email}}selected{{end}}>{{.Name}}</option>
					{{- end -}}
				    </select>
				</form>
			    </li>
			{{- end -}}
		    </ul>
		</nav>
		<hr/>
	    {{- end -}}

	    {{range .TipMsg -}}
		<div id="page-tip" class="page-tip">
		    <span>{{.}}</span>
		    <a href="" id="page-tip-close">&nbsp;&times;&nbsp;</a>
		</div>
	    {{end -}}
{{- end -}}
