{{define "head" -}}
    <!DOCTYPE html>
    <html lang="en" {{if .UISettings}}data-theme="{{.UISettings.Theme}}"{{end}}>
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
	    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
	    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
	    <link rel="manifest" href="/static/site.webmanifest">
	    <title>{{.Title}}</title>
	    <style>
	     :root{
		 --font-size: 16px;
		 --colored-bg: #BED3E5;
		 --tip-bg: #E5E4BE;
		 --border-color: #ccc;
		 --theme-color: #0087FF;
		 --border-color-active: #0087FF;
		 --reply-indent-size: 1rem;
	     }
	     :root[data-theme="light"] {
		 color-scheme: light;
		 --text: black;
		 --background: white;

		 --text-with-background: black;
		 --text-lighten: #333;
		 --text-lighten-2: #666;
		 --text-lighten-3: #999;
	     }
	     :root[data-theme="dark"] {
		 color-scheme: dark;
		 --text: white;
		 --background: #282A36;

		 --text-with-background: black;
		 --text-lighten: #ddd;
		 --text-lighten-2: #ccc;
		 --text-lighten-3: #aaa;
	     }
	     h1{
		 margin-bottom: 0.6rem;
	     }
	     a {
		 text-decoration: none;
	     }
	     a:hover,
	     a:focus-visible{
		 text-decoration: underline;
	     }
	     nav {
		 display: flex;
		 justify-content: space-between;
		 flex-wrap: wrap;
	     }
	     input,
	     textarea,
	     button{
		 font-size: var(--font-size)
	     }

	     input[type="text"],
	     textarea{
		 max-width: 1000px;
	     }

	     html{
		 font-size: var(--font-size)
	     }
	     html,body{
		 background: var(--background);
		 color: var(--text);
	     }
	     body{
		 margin: 0 auto;
		 padding: 10px 12px;
		 {{- if and .UISettings (eq .UISettings.ContentLayout "centered") -}}
		 max-width: 1000px;
		 {{- end -}}
	     }
	     
	     .text-lighten{
		 color: var(--text-lighten)
	     }
	     .text-lighten-2{
		 color: var(--text-lighten-2)
	     }
	     .text-lighten-3{
		 color: var(--text-lighten-3)
	     }
	     .page-tip{
		 display:flex;
		 padding: 10px;
		 margin-bottom: 10px;
		 justify-content:space-between;
		 background-color: var(--tip-bg);
		 color: var(--text-with-background)
	     }
	     .page-tip a{
		 color: var(--text-with-background)
	     }
	     .article-list{
		 padding-left: 2rem;
	     }
	     .article-list li{
		 margin-bottom: 10px;
	     }
	     .article-list li a:active,
	     .article-list li a:focus{
		 border: 1px dashed #ccc;
	     }
	     .skip-button{
		 position: fixed;
		 left: 0;
		 top: 0;
		 width: 100%;
		 height: 0;
		 line-height: 2.4rem;
		 background: var(--background);
		 text-align: center;
		 overflow: hidden;
	     }
	     .skip-button:focus-visible{
		 height: auto;
		 outline: 1px solid blue;
		 text-decoration: underline;
	     }
	     .tabs{
		 padding: 4px 10px 0;
		 border-bottom: 1px solid var(--border-color);
		 margin-bottom: 10px
	     }
	     .tabs .tab{
		 display: inline-block;
		 padding: 0 10px 4px;
		 margin-bottom: -1px;
	     }
	     .tabs .tab.active{
		 border-bottom: 2px solid var(--border-color-active);
	     }
	     .data-list{
		 display: table;
		 width: 100%;
	     }
	     .data-list .data-list__row{
		 display: table-row;
	     }
	     .data-list .data-list__label,
	     .data-list .data-list__content{
		 display: table-cell;
		 padding-bottom: 10px;
		 vertical-align: top;
	     }
	     .data-list .data-list__label{
		 width: 7rem;
		 text-align: right;
		 padding-right: 6px;
		 box-sizing: border-box;
	     }
	     .data-list .data-list__content{
		 text-align: left;
	     }
	     .form .form__row{
		 margin-bottom: 12px;
	     }
	     .form .form__row > label{
		 display: block;
		 margin-bottom: 6px;
		 font-weight: bold;
	     }
	     .form .form__row:last-child{
		 margin-bottom: 0;
	     }
	    </style>
	    <script>
	     /* document.addEventListener("DOMContentLoaded", function(){
		var selectedTheme = localStorage.getItem("theme")
		if (selectedTheme){
		setTheme(selectedTheme)
		} else {
		if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
		setTheme("dark")
		} else {
		setTheme("light")
		}
		}
		})

		window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
		setTheme("system")
		});

		function onThemeChange(ev){
		setTheme(ev.target.value)
		}

		function setTheme(themeName){
		document.getElementById("theme").value = themeName
		localStorage.setItem("theme", themeName)

		if (themeName == "system") {
		if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches){
		themeName = "dark"
		} else {
		themeName = "light"
		}
		}
		document.documentElement.setAttribute("data-theme", themeName)
		} */
	    </script>
	</head>
	<body>
	    {{- if or (eq .RoutePath "/") (eq .RoutePath "/articles") -}}
		<a id="skip-button" class="skip-button" tab-index="0" href="#article-list-head">Skip To Content</a>
	    {{- end -}}
	    {{- if and .Debug .JSONStr -}}
	    <script>
	     const DEBUG_DATA = {{.JSONStr -}};
	     console.dir(DEBUG_DATA);
	    </script>
	    {{- end -}}
	    <style>
	     .nav-menu{
		 display: flex;
		 flex-wrap: wrap;
		 align-items: center;
		 list-style: none;
		 margin: 0;
		 padding: 0;
	     }
	     .nav-menu li{
		 vertical-align: middle;
		 margin-right: 10px;
		 line-height: 1.2rem;
	     }
	     .nav-menu li:last-child{
		 margin-right: 0;
	     }
	    </style>
	    <nav>
		<ul class="nav-menu">
		    <li><a href="/">Home</a></li>
		    {{- range .BreadCrumbs -}}
			<li><b><a href="{{.Path}}">{{.Name}}</a></b></li>
		    {{- end -}}
		</ul>
		<ul class="nav-menu">
		    <li><a href="/articles/new">&plus;New</a></li>
		    {{if .LoginedUser -}}
			<li><a href="/users">Users</a></li>
			<li><a href="/users/{{.LoginedUser.Id}}">{{.LoginedUser.Name}}</a></li>
			{{- if .Debug }}
			    <li>
				<form action="/login_debug" method="post">
				    {{.CSRFField}}
				    <select id="debug-user" name="debug-user-email" onchange="this.parentNode.submit()">
					{{- $loginedUser := .LoginedUser -}}
					{{- range .DebugUsers -}}
					    <option value="{{.Email}}" {{if eq $loginedUser.Email .Email}}selected{{end}}>{{.Name}}</option>
					{{- end -}}
				    </select>
				</form>
			    </li>
			{{- end -}}
			<li><a href="/logout">Logout</a></li>
		    {{else -}}
			<li><a href="/register">Register</a></li>
			<li><a href="/login">Login</a></li>
		    {{end -}}
		    <li>
			<a href="/settings">Settings</a>
		    </li>
		</ul>
	    </nav>
	    <hr/>
	    {{range .TipMsg -}}
		<div id="page-tip" class="page-tip">
		    <span>{{.}}</span>
		    <a href="" onclick="javascript:this.parentNode.remove();return false;">&nbsp;&times;&nbsp;</a>
		</div>
	    {{end -}}
{{- end -}}
