{{define "head" -}}
    <!DOCTYPE html>
    <html lang="en" {{if .UISettings}}data-theme="{{.UISettings.Theme}}"{{end}}>
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
	    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
	    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
	    <link rel="manifest" href="/static/site.webmanifest">
	    <title>{{.Title}}</title>
	    <style>
	     :root[data-theme="light"] {
		 color-scheme: light;
		 --text: black;
		 --background: white;

		 --tip-text: black;
	     }
	     :root[data-theme="dark"] {
		 color-scheme: dark;
		 --text: white;
		 --background: #282A36;

		 --tip-text: black;
	     }
	     a {
		 text-decoration: none;
	     }
	     a:hover{
		 text-decoration: underline;
	     }
	     nav {
		 display: flex;
		 justify-content: space-between;
		 flex-wrap: wrap;
	     }

	     html,body{
		 background: var(--background);
		 color: var(--text);
	     }
	     body{
		 margin: 0 auto;
		 padding: 10px 20px;
		 {{- if eq .UISettings.ContentLayout "centered" -}}
		 max-width: 1000px;
		 {{- end -}}
	     }
	     .page-tip{
		 display:flex;
		 padding: 10px;
		 margin-bottom: 10px;
		 justify-content:space-between;
		 background-color:yellow;
		 color: var(--tip-text)
	     }
	     .article-list li a:active,
	     .article-list li a:focus{
		 border: 1px dashed #ccc;
	     }
	    </style>
	    <script>
	     /* document.addEventListener("DOMContentLoaded", function(){
		var selectedTheme = localStorage.getItem("theme")
		if (selectedTheme){
		setTheme(selectedTheme)
		} else {
		if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
		setTheme("dark")
		} else {
		setTheme("light")
		}
		}
		})

		window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
		setTheme("system")
		});

		function onThemeChange(ev){
		setTheme(ev.target.value)
		}

		function setTheme(themeName){
		document.getElementById("theme").value = themeName
		localStorage.setItem("theme", themeName)

		if (themeName == "system") {
		if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches){
		themeName = "dark"
		} else {
		themeName = "light"
		}
		}
		document.documentElement.setAttribute("data-theme", themeName)
		} */
	    </script>
	</head>
	<body>
	    <script>
	     const DEBUG_DATA = {{.JSONStr -}};
	     console.dir(DEBUG_DATA);
	    </script>
	    <style>
	     .nav-menu{
		 display: flex;
		 align-items: center;
		 list-style: none;
		 margin: 0;
		 padding: 0;
	     }
	     .nav-menu li{
		 vertical-align: middle;
		 margin-right: 10px;
		 line-height: 1.2rem;
	     }
	     .nav-menu li:last-child{
		 margin-right: 0;
	     }
	    </style>
	    <nav>
		<ul class="nav-menu">
		    <li><a href="/">Home</a></li>
		    {{if .LoginedUser}}<li><a href="/users">Users</a></li>{{- end -}}
		</ul>
		<ul class="nav-menu">
		    <li><a href="/articles/new">&plus;New</a></li>
		    {{if .LoginedUser -}}
			<li><a href="/users/{{.LoginedUser.Id}}">{{.LoginedUser.Name}}</a></li>
			<li><a href="/logout">Logout</a></li>
		    {{else -}}
			<li><a href="/register">Register</a></li>
			<li><a href="/login">Login</a></li>
		    {{end -}}
		    <li>
			<a href="/settings">Settings</a>
		    </li>
		</ul>
	    </nav>
	    <hr/>
	    {{range .TipMsg -}}
		<div id="page-tip" class="page-tip">
		    <span>{{.}}</span>
		    <a href="" onclick="javascript:this.parentNode.remove();return false;">&nbsp;&times;&nbsp;</a>
		</div>
	    {{end -}}  
{{- end -}}
