{{define "login" -}}

    {{template "head" . -}}

    {{- if .Data.Human -}}
    <form class="form" id="login-form" method="post" action="/login">
	{{.CSRFField -}}
	<div class="form__row">
	    <label class="form__label" for="username">{{local "Or" "A" (local "Username") "B" (local "Email")}}:</label>
	    <input required name="username" id="username" type="text"/>
	</div>
	<div class="form__row">
	    <label class="form__label" for="password">{{local "Password"}}:</label>
	    <input required name="password" id="password" type="password"/>
	</div>
	<br/>
	<button type="submit" style="margin-right: 0.5rem;">{{local "Login"}}</button>&nbsp;&nbsp;<a href="/retrieve_password">{{local "RetrievePassword"}}</a>
	<br/>
	<br/>
	<div>
	    {{local "RegisterTipHead"}}<a href="/register">{{local "RegisterTip" | lower}}</a>, {{local "OAuthLoginTip"}}
	    <br/>
	    <br/>
	    <a href="/login_auth?type=google">Google</a>
	    &nbsp;&nbsp;&nbsp;<a href="/login_auth?type=github">GitHub</a>
	</div>
    </form>
	{{else}}
	<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"></script>
	<div id="human-verify">
		<noscript>{{local "EnableJavaScriptTip"}}</noscript>
	</div>
	<input id="cf-site-key" type="hidden" value="{{.CFSiteKey}}"/>
	<script src="/static/js/turnstile.js"></script>
    {{end}}

    {{template "foot" . -}}

{{end -}}
