{{define "login" -}}

    {{template "head" . -}}

    <form class="form" id="login-form" method="post" action="/login">
	{{.CSRFField -}}
	<div class="form__row">
	    <label class="form__label" for="email">Email:</label>
	    <input required name="email" id="email" type="email"/>
	</div>
	<div class="form__row">
	    <label class="form__label" for="password">Password:</label>
	    <input required name="password" id="password" type="password"/>
	</div>
	<div>
	    <a href="/register">Create a new account</a>
	</div>
	<br/>
	<button type="submit">Login</button>
    </form>

    {{template "foot" . -}}

{{end -}}
