{{define "login" -}}

    {{template "head" . -}}

    <form id="login-form" method="post" action="/login">
	{{.CSRFField -}}
	<table>
	    <tbody>
		<tr>
		    <td><label for="email">Email:</label></td>
		    <td><input required name="email" id="email" type="email"/></td>
		</tr>
		<tr>
		    <td><label for="password">Password:</label></td>
		    <td><input required name="password" id="password" type="password"/></td>
		</tr>
	    </tbody>
	</table>
	<br/>
	<div>
	    <a href="/register">Create a new account</a>
	</div>
	<br/>
	<button type="submit">Login</button>
    </form>

    {{template "foot" . -}}

{{end -}}
