{{define "message" -}}
    {{template "head" . -}}

    {{- $data := .Data -}}
    {{- $csrfField := .CSRFField -}}

    <style>
     .message-list{
	 padding-left: 1rem;
     }
     .message-list li{
	 margin-bottom: 0.5rem;
     }
    </style>
    
    <ul class="message-list">
	{{- range $data.List -}}
	    {{- $title := print "<a href='/articles/" .SourceArticle.Id "'>" .SourceArticle.DisplayTitle "</a>" -}}
	    <li>
		{{- local "NewReply" "ArticleTitle" $title}}{{timeAgo .CreatedAt}}
		{{- if and .SourceArticle.CurrUserState .SourceArticle.CurrUserState.Subscribed -}}
		    &nbsp;&nbsp;<form class="btn-form" action="/articles/{{.SourceArticle.Id}}/subscribe" method="POST" >
			{{- $csrfField -}}
			<input name="root" type="hidden" value="{{.SourceArticle.ReplyRootArticleId}}"/>
			{{$btnSubText := local "BtnUnsubscribe"}}
			<button class="text-lighten-3" title="{{$btnSubText}}" type="submit">{{$btnSubText}}</button>
		    </form>
		{{- end -}}
	    </li>
	{{- end -}}
	{{- placehold $data.List (print "<i class='text-lighten-2'>" (local "NoData") "</i>") -}}
    </ul>

    {{- $pagiData := dict "currPage" .Data.Query.Page "totalPage" .Data.Query.TotalPage "pathPrefix" "/messages"  "query" .RouteQuery -}}
    {{- template "pagination" $pagiData -}}

    {{template "foot" . -}}
{{end -}}

{{- define "message_tab" -}}
    {{- $data := .Data -}}
    {{- $tabs := list "unread" "read" "all"  -}}
    {{- $tabMap := dict "unread" (local "MessageUnread") "read" (local "MessageRead") "all" (local "All") -}}
    <div class="page-tab">
	<div class="tabs">
	    {{- range $tabs -}}
		<a class="tab{{if eq $data.Query.Tab . }} active{{end}}" href="/messages{{if ne . "unread"}}?tab={{.}}{{end}}">{{get $tabMap .}}</a>
	    {{- end -}}
	</div>
    </div>
{{- end -}}
