{{ define "pagination" }}
    {{- $path := .pathPrefix -}}
    {{- $query := .query -}}

    <style>
     .pagination > a{
	 display: inline-block;
	 padding: 0 6px;
	 margin: 0 2px;
     }
    </style>
    <div class="pagination">
	{{- if gt .currPage 1 -}}
	    <a href="{{pageStr $path (int (add .currPage -1)) $query}}">{{local "BtnPrevPage"}}</a>&nbsp;&nbsp;
	{{- end -}}
	
	{{- if gt .totalPage 1 -}}
	    {{$currPage := .currPage}}
	    {{- range $page := intRange 1 .totalPage -}}
		{{- if eq $currPage $page -}}
		    &nbsp;{{$page}}&nbsp;&nbsp;
		{{- else -}}
		    <a href="{{pageStr $path $page $query}}">{{$page}}</a>
		{{- end -}}
	    {{- end -}}
	{{- end -}}

	{{- if lt .currPage .totalPage -}}
	    <a href="{{pageStr $path (int (add .currPage 1)) $query}}">{{local "BtnNextPage"}}</a>&nbsp;
	{{- end -}}
    </div>
{{- end -}}
