{{define "permission_create"}}

    {{template "head" .}}
    
    {{- $csrfField := .CSRFField -}}
    {{- $debug := .Debug -}}

    <form class="form" action="/manage/permissions" method="POST">
	{{- $csrfField -}}
	<div class="form__row">
	    <label class="form__label" for="front_id">Front Id</label>
	    <input required id="front_id" name="front_id" type="text" value=""/>
	</div>
	<div class="form__row">
	    <label class="form__label" for="name">Name</label>
	    <input required id="name" name="name" type="text" value=""/>
	</div>

	<button type="submit">Submit</button>
    </form>

    {{template "foot" .}}

{{- end -}}
