{{define "register_verify" -}}

    {{template "head" . -}}

    <div class="tip-block">{{local "VerificationEmailTip" "Email" .Data.Email "Duration" .Data.CodeLifeTime}}</div>
    <form class="form" method="post" action="/register_verify">
	{{.CSRFField -}}
	<div class="form__row">
	    <label class="form__label" for="code">{{local "VerificationCode"}} <small class="text-lighten-2" style="font-weight: normal">({{local "FormRequired"}})</small></label>
	    <input required name="code" id="code" type="number"/>
	</div>
	<button type="submit">{{local "BtnSubmit"}}</button>
    </form>
    <br/>
    <div>
	<a href="/register_send_code">{{local "ResendVerification"}}</a>
    </div>

    {{template "foot" . -}}
{{end -}}
