{{define "register" -}}

    {{template "head" . -}}

    <form method="post" action="/register">
	{{.CSRFField -}}
	<table>
	    <tbody>
		<tr>
		    <td><label for="email">Email:</label></td>
		    <td><input required name="email" id="email" type="email"/></td>
		</tr>
		<tr>
		    <td><label for="password">Password:</label></td>
		    <td><input required name="password" id="password" type="password" /></td>
		</tr>
		<tr>
		    <td><label for="username">Name:</label></td>
		    <td><input required name="username" id="username" type="text"/></td>
		</tr>
	    </tbody>
	</table>
	<button type="submit">Submit</button>
    </form>

    {{template "foot" . -}}
{{end -}}
