{{define "reset_password" -}}

    {{template "head" . -}}

    <div class="tip-block">{{local "ResetPassTip" "Email" .Data.Email "Duration" .Data.CodeLifeTime}}</div>
    <form class="form" method="post" action="/reset_password">
	{{.CSRFField -}}
	<div class="form__row">
	    <label class="form__label" for="password">{{local "NewPassword"}} <small class="text-lighten-2" style="font-weight: normal">({{local "FormRequired"}})</small></label>
	    <input required name="password" id="password" type="password" />
	    <br/>
	    <small class="text-lighten-2">{{local "PasswordFormatTip" "LeastLen" 8}}</small>
	</div>
	<div class="form__row">
	    <label class="form__label" for="confirm-password">{{local "ConfirmNewPassword"}} <small class="text-lighten-2" style="font-weight: normal">({{local "FormRequired"}})</small></label>
	    <input required name="confirm-password" id="confirm-password" type="password" />
	</div>
	<div class="form__row">
	    <label class="form__label" for="code">{{local "VerificationCode"}} <small class="text-lighten-2" style="font-weight: normal">({{local "FormRequired"}})</small></label>
	    <input required name="code" placeholder="XXXXXX" style="width:6rem;appearance:textfield;" id="code" type="number"/>
	</div>
	<div>
	    <a href="/send_code?type=reset_password">{{local "ResendVerification"}}</a>
	</div>
	<br/>
	<button type="submit">{{local "BtnSubmit"}}</button>
    </form>

    {{template "foot" . -}}
{{end -}}
