{{define "retrieve_password" -}}

    {{template "head" . -}}

    <div class="tip-block">{{local "RetrievePassTip"}}</div>
    <form class="form" method="post" action="/retrieve_password">
	{{.CSRFField -}}
	<div class="form__row">
	    <label class="form__label" for="email">{{local "Email"}} <small class="text-lighten-2" style="font-weight: normal">({{local "FormRequired"}})</small></label>
	    <input required name="email" id="email" type="email"/>
	</div>
	<button type="submit">{{local "BtnNextStep"}}</button>
    </form>

    {{template "foot" . -}}
{{end -}}
