{{define "role_list"}}

    {{template "head" .}}

    <h1>Role List</h1>
    <hr/>
    <div class="page-tab">
	<div></div>
	<div>
	    <a class="page-tab__btn" href="/manage/roles/new" class="text-lighten">+Add Role</a>
	</div>
    </div>

    <table class="table-data">
	<thead>
	    <tr>
		<th>Role Name</th>
		<th>Front Id</th>
		<th>Created At</th>
		<th>Default Role</th>
		<th>Permisisons</th>
		<th width="120px">Operations</th>
	    </tr>
	</thead>
	<tbody>
	    {{- range .Data.List -}}
		<tr>
		    <td>{{.Name}}</td>
		    <td>{{.FrontId}}</td>
		    <td>{{timeFormat .CreatedAt "YYYY-MM-DD hh:mm:ss"}}</td>
		    <td>{{if .IsDefault}}Yes{{else}}No{{end}}</td>
		    <td>
			{{$role := .}}

			{{- range .FormattedPermissions -}}
			    <b>{{.Module}}</b>
			    <br/>
			    {{$pLen := len .List}}
			    {{$pIdx := 0}}
			    {{- range .List -}}
				<span>{{.Name}}</span>{{if lt $pIdx (add $pLen -1)}},&nbsp;&nbsp;{{end}}
				{{$pIdx = add $pIdx 1}}
			    {{- end -}}
			    <br/>
			    <br/>
			{{- end -}}
			{{- placehold .FormattedPermissions (print "<i class=\"text-lighten-2\">" (local "NoData") "</i>") -}}
		    </td>
		    <td>
			{{- if not .IsDefault -}}
			    <a href="/manage/roles/{{$role.Id}}/edit">Edit</a>&nbsp;&nbsp;
			{{- end -}}
		    </td>
		</tr>
	    {{- end -}}
	</tbody>
    </table>

    {{template "foot" .}}

{{- end -}}
