{{define "role_form"}}

    {{template "head" .}}
    
    {{- $csrfField := .CSRFField -}}
    {{- $debug := .Debug -}}
    {{- $isEdit := eq .Data.PageType "edit" -}}
    {{- $role := .Data.Role -}}
    {{- $isDefault := and $role $role.IsDefault -}}
    {{- $rolePermissionIdList := .Data.RolePermissionIdList -}}

    <h1>{{if $isEdit}}Edit{{else}}Add{{end}} Role</h1>
    <hr/>

    <form class="form" action="/manage/roles{{if $isEdit}}/{{$role.Id}}/edit{{end}}" method="POST">
	{{- $csrfField -}}
	<div class="form__row">
	    <label class="form__label" for="front_id">Front Id</label>
	    <input required id="front_id" name="front_id" type="text" value="{{if $isEdit}}{{$role.FrontId}}{{end}}" {{if or $isDefault $isEdit}}disabled{{end}}/>
	</div>
	<div class="form__row">
	    <label class="form__label" for="name">Name</label>
	    <input required id="name" name="name" type="text" value="{{if $isEdit}}{{$role.Name}}{{end}}" {{if $isDefault}}disabled{{end}}/>
	</div>
	<div class="form__row">
	    <label class="form__label">Permissions</label>
	    <!-- <input required id="name" name="name" type="text" value=""/> -->
	    {{- range .Data.PermissionList -}}
	    <fieldset>
		<legend>
		    <input id="{{.Module}}-all" class="btn-check-all" type="checkbox" {{if $isDefault}}disabled{{end}}/>
		    <label for="{{.Module}}-all"><b>{{.Module}}</b></label>
		</legend>
		{{- range .List -}}
		    <input name="permissions" id="{{.FrontId}}" class="btn-check-permission" type="checkbox" value="{{.FrontId}}" {{if and $isEdit (has .Id $rolePermissionIdList)}}checked{{end}} {{if $isDefault}}disabled{{end}}/>
		    <label for="{{.FrontId}}">{{.Name}}</label>&nbsp;&nbsp;&nbsp;&nbsp;
		{{- end -}}
	    </fieldset>
	    {{- end -}}
	</div>

	{{if not $isDefault}}<button type="submit">Submit</button>{{end}}
    </form>

    {{template "foot" .}}

{{- end -}}
