{{define "role_form"}}

    {{template "head" .}}
    
    {{- $csrfField := .CSRFField -}}
    {{- $debug := .Debug -}}
    {{- $isEdit := eq .Data.PageType "edit" -}}
    {{- $role := .Data.Role -}}
    {{- $rolePermissionIdList := .Data.RolePermissionIdList -}}

    <h1>{{if $isEdit}}Edit{{else}}Add{{end}} Role</h1>
    <hr/>

    <script>
     function checkAll(ev, el){
	 /* console.log(event, el) */
	 el.closest('fieldset').querySelectorAll('input[name="permissions"]').forEach(item => {
	     /* console.log("item: ", item) */
	     item.checked = el.checked
	 })
     }

     function onCheck(ev, el){
	 /* console.log(ev, el) */
	 const allBtn = el.closest('fieldset').querySelector('input.btn-all')
	 const inputEls = el.closest('fieldset').querySelectorAll('input[name="permissions"]')
	 let allChecked = true

	 inputEls.forEach(item => {
	     /* console.log(item, item.checked) */
	     if (!item.checked){
		 allChecked = false
	     }
	 })

	 allBtn.checked = allChecked
     }
    </script>

    <form class="form" action="/manage/roles{{if $isEdit}}/{{$role.Id}}/edit{{end}}" method="POST">
	{{- $csrfField -}}
	<div class="form__row">
	    <label class="form__label" for="front_id">Front Id</label>
	    <input required id="front_id" name="front_id" type="text" value="{{if $isEdit}}{{$role.FrontId}}{{end}}" {{if $isEdit}}disabled{{end}}/>
	</div>
	<div class="form__row">
	    <label class="form__label" for="name">Name</label>
	    <input required id="name" name="name" type="text" value="{{if $isEdit}}{{$role.Name}}{{end}}"/>
	</div>
	<div class="form__row">
	    <label class="form__label">Permissions</label>
	    <!-- <input required id="name" name="name" type="text" value=""/> -->
	    {{- range .Data.PermissionList -}}
	    <fieldset>
		<legend>
		    <input id="{{.Module}}-all" class="btn-all" type="checkbox" onchange="checkAll(event, this)" />
		    <label for="{{.Module}}-all"><b>{{.Module}}</b></label>
		</legend>
		{{- range .List -}}
		    <input name="permissions" id="{{.FrontId}}" type="checkbox" value="{{.Id}}" {{if and $isEdit (has .Id $rolePermissionIdList)}}checked{{end}} onchange="onCheck(event, this)" />
		    <label for="{{.FrontId}}">{{.Name}}</label>&nbsp;&nbsp;&nbsp;&nbsp;
		{{- end -}}
	    </fieldset>
	    {{- end -}}
	</div>

	<button type="submit">Submit</button>
    </form>

    {{template "foot" .}}

{{- end -}}
