{{ define "settings" -}}
    {{template "head" . -}}
    <div class="settings-tab">
	{{- $data := .Data -}}
	{{- $tabs := list "account" "ui" -}}

	{{- $tabNameMap := dict "ui" "UI" -}}
	{{- if .LoginedUser -}}
	    {{- $tabNameMap = dict "account" "Account" "ui" "UI" -}}
	{{- end -}}
	{{- range $tabs -}}
	    {{- if eq $data.PageKey . -}}
		<span>{{get $tabNameMap .}}<span>&nbsp;&nbsp;
	    {{- else -}}
		    <a href="/settings/{{.}}">{{get $tabNameMap .}}</a>&nbsp;&nbsp;
	    {{- end -}}
	{{- end -}}
    </div>

    {{- if and .Data.AccountData (eq .Data.PageKey "account") -}}
	<form method="POST" action="/settings/account">
	    {{.CSRFField}}
	    <table class="table-info">
		<tbody>
		    <tr>
			<td>Name:</td>
			<td>{{.Data.AccountData.Name}}</td>
		    </tr>
		    <tr>
			<td>Introduction:</td>
			<td>
			    <textarea cols="60" name="introduction" rows="10">{{.Data.AccountData.Introduction}}</textarea>
			</td>
		    </tr>
		</tbody>
	    </table>
	    <button type="submit">Save</button>
	</form>
    {{- end -}}
    
    {{- if eq .Data.PageKey "ui" -}}
	<form method="POST" action="/settings/ui">
	    {{$themeDict := dict "light" "Light" "dark" "Dark" "system" "OS Default (Must enable JavaScript)"}}
	    {{$themes := list "light" "dark" "system"}}
	    {{$contentLayoutDict := dict "full" "Full" "centered" "Centered"}}
	    {{$contentLayouts := list "centered" "full"}}
	    {{$settings := .UISettings}}
	    {{.CSRFField}}
	    <table class="table-info">
		<tbody>
		    <tr>
			<td>Theme:</td>
			<td>
			    {{range $themes -}}
				<span {{if eq . "system"}}style="display:none"{{- end -}}>
				    <label><input name="theme" required autocomplete="off" id="{{.}}" {{if eq . "system"}}disabled{{- end -}} {{if and $settings (eq $settings.Theme .)}}checked{{end}} type="radio" value="{{.}}"/> {{get $themeDict .}}</label>
				</span>&nbsp;&nbsp;
			    {{- end -}}
			</td>
		    </tr>
		    <tr>
			<td>Page Layout:</td>
			<td>
			    {{range $contentLayouts -}}
				<span>
				    <label><input name="content_layout" required autocomplete="off" id="{{.}}" {{if and $settings (eq $settings.ContentLayout .)}}checked{{end}} type="radio" value="{{.}}"/> {{get $contentLayoutDict .}}</label>
				</span>&nbsp;&nbsp;
			    {{- end -}}
			</td>
		    </tr>
		</tbody>
	    </table>
	    <button type="submit">Save</button>
	</form>
    {{- end -}}

    {{template "foot" . -}}
{{end}}
