{{ define "settings" -}}
    {{template "head" . -}}
    <div class="tabs">
	{{- $data := .Data -}}
	{{- $tabs := list "ui" -}}

	{{- $tabNameMap := dict "account" (local "Account") "ui" (local "UI") -}}
	{{- if .LoginedUser -}}
	    {{- $tabs = list "account" "ui" -}}
	{{- end -}}
	{{- range $tabs -}}
	    <a class="tab{{if eq $data.PageKey .}} active{{end}}" href="/settings/{{.}}">{{get $tabNameMap .}}</a>
	{{- end -}}
    </div>

    {{- if and .Data.AccountData (eq .Data.PageKey "account") -}}
	<form class="form" method="POST" action="/settings/account">
	    {{.CSRFField}}
	    <div class="form__row">
		<label class="form__label" for="name">{{local "Username"}}:</label>
		<div id="name">{{.Data.AccountData.Name}}</div>
	    </div>
	    <div class="form__row">
		<label class="form__label" for="introduction">{{local "Introduction"}}:</label>
		<textarea {{if not (permit "user" "update_intro_mine")}}disabled{{end}}  id="introduction" style="width:100%;box-sizing:border-box;" name="introduction" rows="10">{{.Data.AccountData.Introduction}}</textarea>
	    </div>
	    <br/>
	    <button {{if not (permit "user" "update_intro_mine")}}disabled{{end}} type="submit">{{local "BtnSave"}}</button>
	</form>
    {{- end -}}

    {{- if eq .Data.PageKey "ui" -}}
	<form class="form" method="POST" action="/settings/ui">
	    {{- $themeDict := dict "light" (local "ThemeLight") "dark" (local "ThemeDark") "system" (local "ThemeSystem") "matrix" (local "Matrix")}}
	    {{- $themes := list "light" "dark" "system" "matrix"}}
	    {{- $contentLayoutDict := dict "full" (local "PageLayoutFull") "centered" (local "PageLayoutCentered")}}
	    {{- $contentLayouts := list "centered" "full"}}
	    {{- $repliesLayoutDict := dict "tree" (local "RepliesLayoutTree") "tile" (local "RepliesLayoutTile")}}
	    {{- $repliesLayouts := list "tree" "tile"}}
	    {{- $settings := .UISettings}}

	    {{- $fontSizes := list "12" "14" "16" "18" "29" "x"}}
	    {{- $fontSizeDict := dict "12" (local "FontExtremSmall") "14" (local "FontSmall") "16" (local "FontRegular") "18" (local "FontLarge") "29" (local "FontExtremLarge") "x" (local "FontCustom")}}
	    {{- .CSRFField}}
	    <div class="form__row">
		<label class="form__label" for="lang">{{local "Language"}}:</label>
		<select id="lang" name="lang" autocomplete="off">
		    {{- range .Data.LanguageOptions -}}
			<option {{if eq $settings.Lang .Value}}selected{{end}} value="{{.Value}}">{{.Name}}</option>
		    {{- end -}}
		</select>
	    </div>
	    <div class="form__row">
		<label class="form__label" for="theme-options">{{local "Theme"}}:</label>
		<div id="theme-options">
		    {{range $themes -}}
			<span><label><input name="theme" required autocomplete="off" id="{{.}}" {{if and $settings (eq $settings.Theme .)}}checked{{end}} type="radio" value="{{.}}"/> {{get $themeDict .}} {{if eq . "system"}}<span class="noscript-inline"><noscript>({{local "EnableJavaScriptTip"}})</noscript></span>{{end}}</label></span>&nbsp;&nbsp;
		    {{- end -}}
		</div>
	    </div>
	    <div class="form__row">
		<label class="form__label" for="content-layout-options">{{local "PageLayout"}}:</label>
		<div id="content-layout-options">
		    {{range $contentLayouts -}}
			<span><label><input name="content_layout" required autocomplete="off" id="{{.}}" {{if and $settings (eq $settings.ContentLayout .)}}checked{{end}} type="radio" value="{{.}}"/> {{get $contentLayoutDict .}}</label></span>&nbsp;&nbsp;
		    {{- end -}}
		</div>
	    </div>
	    <div class="form__row">
		<label class="form__label">{{local "RepliesLayout"}}:</label>
		{{range $repliesLayouts -}}
		    <span><label><input name="replies_layout" required autocomplete="off" id="{{.}}" {{if and $settings (eq $settings.RepliesLayout .)}}checked{{end}} type="radio" value="{{.}}"/> {{get $repliesLayoutDict .}}</label></span>&nbsp;&nbsp;
		{{- end -}}
	    </div>
	    <div class="form__row">
		<label class="form__label">{{local "ArticleListDefaultSort"}}:</label>
		{{range $data.ArticleSortTabList -}}
		    <span><label><input name="default_article_sort" required autocomplete="off" id="{{.}}" {{if and $settings (eq $settings.DefaultArticleSortType .)}}checked{{end}} type="radio" value="{{.}}"/> {{index $data.SortTabNames .}}</label></span>&nbsp;&nbsp;
		{{- end -}}
	    </div>
	    <div class="form__row">
		<label class="form__label">{{local "ReplyListDefaultSort"}}:</label>
		{{range $data.ReplySortTabList -}}
		    <span><label><input name="default_reply_sort" required autocomplete="off" id="{{.}}" {{if and $settings (eq $settings.DefaultReplySortType .)}}checked{{end}} type="radio" value="{{.}}"/> {{index $data.SortTabNames .}}</label></span>&nbsp;&nbsp;
		{{- end -}}
	    </div>
	    <div class="form__row">
		<label class="form__label" for="font-size-options">{{local "FontSize"}}:</label>
		<div id="font-size-options">
		    {{range $fontSizes -}}
			<span><label><input name="font_size" required autocomplete="off" id="font-size-{{.}}" {{if or (eq (toString $settings.FontSize) .) (and (eq "x" .) $settings.FontSizeCustom)}}checked{{end}} type="radio" value="{{.}}"/> {{get $fontSizeDict .}} {{if eq . "x"}} <input name="font_size_custom" type="number" autocomplete="off" min="10" value="{{if $settings.FontSizeCustom}}{{$settings.FontSize}}{{end}}"/> px {{end}}</label></span>&nbsp;&nbsp;
		    {{- end -}}
		</div>
	    </div>
	    <div class="form__row">
		<label class="form__label">{{local "Emoji"}}:</label>
		<label><input name="show_emoji" type="checkbox" autocomplete="off" {{if $settings.ShowEmoji}}checked{{end}} value="1"/> {{local "ShowItem" "Name" (local "Emoji")}}</label>
	    </div>
	    <br/>
	    <button type="submit">{{local "BtnSave"}}</button>
	</form>
    {{- end -}}

    {{template "foot" . -}}
{{end}}
