{{define "trash" -}}
    {{template "head" . -}}
    {{- $data := .Data -}}
    {{- $rawQuery := .RouteRawQuery -}}
    {{- $csrfField := .CSRFField -}}
    
    <form class="filter-box" action="/manage/trash" method="GET">
	<div class="filter-box__item">
	    <label for="filter-keywords" class="filter-box__label">{{local "Keyword" "Count" 2}}:</label>
	    <input id="filter-keywords" name="keywords" type="text" value="{{.Data.Keywords}}"/>
	</div>
	<div class="filter-box__item">
	    <label id="filter-category" class="filter-box__label">{{local "Category" "Count" 1}}:</label>
	    <select id="filter-category" name="category" autocomplete="off">
		<option value="">{{local "All"}}</option>
		{{- range .Data.CategoryList -}}
		    <option value="{{.FrontId}}" {{if eq .FrontId $data.CategoryFrontId}}selected{{end}}>{{.Name}}</option>
		{{- end -}}
	    </select>
	</div>
	<button type="reset" class="btn-reset" data-reset-path="/manage/trash">{{local "BtnReset"}}</button>&nbsp;&nbsp;
	<button type="submit">{{local "BtnSearch"}}</button>
    </form>

    <hr/>

    {{- $sortTabs := list "latest" "oldest" -}}
    {{- $sortTabMap := dict "latest" (local "Latest") "oldest" (local "Oldest") -}}

    <div class="page-tab">
	<div>
	    <b>{{.Data.Total}} {{(local "Article" "Count" .Data.Total) | lower}}</b>
	</div>
	<div class="tabs">
	    {{- range $sortTabs -}}
		<a class="tab{{if eq . $data.SortType}} active{{end}}" href="/manage/trash{{if ne . "latest"}}?{{$rawQuery}}&sort={{.}}{{end}}">{{index $sortTabMap .}}</a>
	    {{- end -}}
	</div>
    </div>

    <ul class="post-list">
	{{range .Data.List -}}
	    {{- $author :=  (print "<a href=\"/users/" .AuthorName "\">" .AuthorName "</a>") -}}
	    <li>
		<div>
		    <a href="/articles/{{.Id}}">{{.DisplayTitle}}</a>
		    {{local "PublishInfo" "Username" $author}}
		    <time title="{{.CreatedAt}}">{{timeAgo .CreatedAt}}</time>
		    &nbsp;&nbsp;<form class="btn-form" action="/articles/{{.Id}}/recover" method="POST" >
			{{- $csrfField -}}
			<button class="text-lighten-3" title="{{local "BtnRecover"}}" type="submit">{{local "BtnRecover"}}</button>
		    </form>
		</div>
		{{- if .Content -}}
		    <div class="post-list__info">{{.Summary}}{{if ne .Content .Summary}} ...{{end}}</div>
		{{- end -}}
	    </li>
	{{end -}}
	{{- placehold .Data.List (print "<i class='text-lighten-2'>" (local "NoData") "</i>") -}}
    </ul>

    {{- $pagiData := dict "currPage" .Data.CurrPage "totalPage" .Data.TotalPage "pathPrefix" .RoutePath  "query" .RouteQuery -}}
    {{- template "pagination" $pagiData -}}

    {{template "foot" . -}}
{{end -}}
