{{ define "user_role_form" }}
    {{template "head" . -}}
    {{- $userData := .Data.UserData -}}
    <div>Confirm to ban {{$userData.Name}}?</div>
    <br/>
    <form class="form" action="/users/{{$userData.Id}}/set_role" method="POST">
	{{.CSRFField}}
	<input name="role_front_id" type="hidden" value="banned_user"/>
	<div class="form__row">
	    <label for="comment" class="form__label">Reason:</label>
	    <input id="comment" required name="comment" type="text" value=""/>
	</div>
	
	<button type="submit">Confirm</button>
    </form>

    {{template "foot" . -}}
{{end}}
