{{define "user_item" -}}

    {{template "head" . -}}

    {{- if permit "user" "manage" -}}
	<fieldset>
	    <legend>{{local "UserManage"}}</legend>
	    {{if permit "user" "update_role"}}<a href="/users/{{.Data.UserInfo.Name}}/set_role">{{local "UpdateRole"}}</a>&nbsp;&nbsp;{{end}}
	    <hr/>
	    <div>
		<small>
		    <div>
			<b>{{local "Role" "Count" 2}}</b>:
			<br/>
			<span {{if eq .Data.UserInfo.RoleFrontId "banned_user"}}style="color:red"{{end}}>{{.Data.UserInfo.RoleName}}</span>
		    </div>
		    <br/>
		    <div>
			<b>{{local "Permission" "Count" 2}}</b>
			<br/>
			{{joinStrArr .Data.PermissionNames ", &nbsp;&nbsp;"}}
		    </div>
		</small>
	    </div>
	</fieldset>
    {{- end -}}

    {{template "user_basic_info" .Data.UserInfo -}}

    {{- $data := .Data -}}
    {{- $csrfField := .CSRFField -}}
    {{- $tabs := list "all" "article" "reply" -}}
    {{- $tabsMap := dict "all" (local "All") "article" (local "Article" "Count" 2) "reply" (local "Reply" "Count" 2) "saved" (local "Saved") "subscribed" (local "Subscribed") "activity" (local "Activity" "Count" 2) -}}

    {{- if .LoginedUser -}}
	{{- if eq .LoginedUser.Id .Data.UserInfo.Id -}}
	    {{- $tabs = append $tabs "saved" -}}
	    {{- $tabs = append $tabs "subscribed" -}}
	{{- end -}}

	{{- if permit "user" "access_activity" -}}
	    {{- $tabs = append $tabs "activity" -}}
	{{- end -}}
    {{- end -}}

    <div class="tabs">
	{{- range $tabs -}}
	    <a class="tab{{if eq $data.CurrTab .}} active{{end}}" href="/users/{{$data.UserInfo.Name}}{{if ne . "all"}}?tab={{.}}{{end}}">{{get $tabsMap .}}</a>
	{{- end -}}
    </div>

    {{- $postListData := dict "posts" .Data.Posts "tab" $data.CurrTab "csrfField" $csrfField -}}
    {{- if eq $data.CurrTab "activity" -}}
	{{template "activity_list" .Data.Activities -}}
    {{- else -}}
	{{template "post_list" $postListData -}}
    {{- end -}}

    {{template "foot" . -}}

{{end -}}

{{define "user_basic_info" -}}
    <h1>{{.Name}}</h1>
    <div class="data-list">
	<div class="data-list__row">
            <div class="data-list__label">{{local "JoinAt"}}:</div>
            <div class="data-list__content">
		<time title="{{.RegisteredAt}}">{{timeFormat .RegisteredAt "YYYY/MM/DD"}}</time>
	    </div>
	</div>
	{{if .Introduction -}}
	    <div class="data-list__row">
		<div class="data-list__label">{{local "Introduction"}}:</div>
		<div class="data-list__content" style="white-space:break-spaces;">
		    {{- .Introduction -}}
		</div>
	    </div>
	{{- end -}}
    </div>
{{end -}}

{{define "post_list" -}}
    <style>
     .post-list{
	 padding-left: 1rem;
     }

     .post-list li{
	 margin-bottom: 0.5rem;
     }

     .post-list .post-list__info{
	 padding: 4px 10px;
	 background: var(--text-bg);
	 font-size: 0.8rem;
	 white-space: break-spaces;
     }
    </style>
    <ul class="post-list">
	{{- $csrfField := .csrfField -}}
	{{- $tab := .tab -}}
	{{range .posts -}}
	    <li>
		<div>
		    <a href="/articles/{{.Id}}">{{.DisplayTitle}}</a>
		    <time title="{{.CreatedAt}}">{{timeAgo .CreatedAt}}</time>
		    {{- if and (eq $tab "subscribed") (and .CurrUserState .CurrUserState.Subscribed) -}}
			&nbsp;&nbsp;<form class="btn-form" action="/articles/{{.Id}}/subscribe" method="POST" >
			{{- $csrfField -}}
			<input name="root" type="hidden" value="{{.ReplyRootArticleId}}"/>
			{{$btnSubText := local "BtnUnsubscribe"}}
			<button class="text-lighten-3" title="{{$btnSubText}}" type="submit">{{$btnSubText}}</button>
			</form>
		    {{- end -}}
		</div>
		{{- if .Content -}}
		    <div class="post-list__info">{{.Summary}}{{if ne .Content .Summary}} ...{{end}}</div>
		{{- end -}}
	    </li>
	{{end -}}
	{{- placehold .posts (print "<i class='text-lighten-2'>" (local "NoData") "</i>") -}}
    </ul>
{{end -}}

