{{define "user_item" -}}

    {{template "head" . -}}

    {{- if permit "user" "manage" -}}
	<fieldset>
	    <legend>User Manage</legend>
	    {{if permit "user" "update_role"}}<a href="/users/{{.Data.UserInfo.Id}}/set_role">Update Role</a>&nbsp;&nbsp;{{end}}
	    <hr/>
	    <div>
		<small>
		    <div>
			<b>Role</b>:
			<br/>
			<span {{if eq .Data.UserInfo.RoleFrontId "banned_user"}}style="color:red"{{end}}>{{.Data.UserInfo.RoleName}}</span>
		    </div>
		    <br/>
		    <div>
			<b>Permissions</b>
			<br/>
			{{joinStrArr .Data.PermissionNames ", &nbsp;&nbsp;"}}
		    </div>
		</small>
	    </div>
	</fieldset>
    {{- end -}}

    {{template "user_basic_info" .Data.UserInfo -}}

    {{- $data := .Data -}}
    {{- $tabs := list "all" "article" "reply" -}}
    {{- $tabsMap := dict "all" "All" "article" "Articles" "reply" "Replies" "saved" "Saved" "activity" "Activity" -}}

    {{- if .LoginedUser -}}
	{{- if eq .LoginedUser.Id .Data.UserInfo.Id -}}
	    {{- $tabs = append $tabs "saved" -}}
	{{- end -}}

	{{- if permit "user" "access_activity" -}}
	    {{- $tabs = append $tabs "activity" -}}
	{{- end -}}
{{- end -}}

    <div class="tabs">
	{{- range $tabs -}}
	    <a class="tab{{if eq $data.CurrTab .}} active{{end}}" href="/users/{{$data.UserInfo.Id}}{{if ne . "all"}}?tab={{.}}{{end}}">{{get $tabsMap .}}</a>
	{{- end -}}
    </div>

    {{- if eq $data.CurrTab "activity" -}}
	{{template "activity_list" .Data.Activities -}}
	{{- placehold .Data.Activities "<i class='text-lighten-2'>No data</i>" -}}
    {{- else -}}
	{{template "post_list" .Data.Posts -}}
	{{- placehold .Data.Posts "<i class='text-lighten-2'>No data</i>" -}}
    {{- end -}}

    {{template "foot" . -}}

{{end -}}

{{define "user_basic_info" -}}
    <h1>{{.Name}}</h1>
    <div class="data-list">
	<div class="data-list__row">
            <div class="data-list__label">Joined At:</div>
            <div class="data-list__content">
		<time title="{{.RegisteredAt}}">{{timeFormat .RegisteredAt "YYYY/MM/DD"}}</time>
	    </div>
	</div>
	{{if .Introduction -}}
	    <div class="data-list__row">
		<div class="data-list__label">Introduction:</div>
		<div class="data-list__content" style="white-space:break-spaces;">
		    {{- .Introduction -}}
		</div>
	    </div>
	{{- end -}}
    </div>
{{end -}}

{{define "post_list" -}}
    <ul>
	{{range . -}}
	    <li>
		<div>
		    <a href="/articles/{{.Id}}">{{.DisplayTitle}}</a>
		    <small><time title="{{.CreatedAt}}">{{timeAgo .CreatedAt}}</time></small>
		</div>
		<div style="margin: 6px 0 12px;white-space: break-spaces;">{{.Summary}}{{if ne .Content .Summary}} ...{{end}}</div>
	    </li>
	{{end -}}
    </ul>
{{end -}}

