{{define "user_item" -}}

    {{template "head" . -}}

    {{- if permit "user" "manage" -}}
	<fieldset>
	    <legend>User Manage</legend>
	    {{if permit "user" "ban"}}<a href="">Ban</a>&nbsp;&nbsp;{{end}}
	    {{if permit "user" "set_moderator"}}<a href="">Set as Moderator</a>&nbsp;&nbsp;{{end}}
	    {{if permit "user" "set_admin"}}<a href="">Set as Admin</a>&nbsp;&nbsp;{{end}}
	    <hr/>
	    <div>
		<small>
		    <div>
			<b>Role</b>:
			<br/>
			{{.Data.UserInfo.RoleName}}
		    </div>
		    <br/>
		    <div>
			<b>Permissions</b>
			<br/>
			{{joinStrArr .Data.PermissionNames ", &nbsp;&nbsp;"}}
		    </div>
		</small>
	    </div>
	</fieldset>
    {{- end -}}

    <h1>{{.Data.UserInfo.Name}}</h1>

    {{template "user_basic_info" .Data.UserInfo -}}

    {{- $data := .Data -}}
    {{- $tabs := list "all" "article" "reply" -}}
    {{- $tabsMap := dict "all" "All" "article" "Articles" "reply" "Replies" "saved" "Saved" -}}

    {{- if and .LoginedUser (eq .LoginedUser.Id .Data.UserInfo.Id) -}}
	{{- $tabs = append $tabs "saved" -}}
    {{- end -}}

    <div class="tabs">
	{{- range $tabs -}}
	    <a class="tab{{if eq $data.CurrTab .}} active{{end}}" href="/users/{{$data.UserInfo.Id}}{{if ne . "all"}}?tab={{.}}{{end}}">{{get $tabsMap .}}</a>
	{{- end -}}
    </div>

    {{- if .Data.Posts -}}
	{{template "post_list" .Data.Posts -}}
    {{- else -}}
	<div>
	    <i class="text-lighten-2">No data</i>
	</div>
    {{- end -}}

    {{template "foot" . -}}

{{end -}}

{{define "user_basic_info" -}}
    <div class="data-list">
	<div class="data-list__row">
            <div class="data-list__label">Joined At:</div>
            <div class="data-list__content">
		{{timeFormat .RegisteredAt "YYYY/MM/DD"}}
	    </div>
	</div>
	{{if .Introduction -}}
	    <div class="data-list__row">
		<div class="data-list__label">Introduction:</div>
		<div class="data-list__content" style="white-space:break-spaces;">
		    {{- .Introduction -}}
		</div>
	    </div>
	{{- end -}}
    </div>
{{end -}}

{{define "post_list" -}}
    <ul>
	{{range . -}}
	    <li>
		<div>
		    <a href="/articles/{{.Id}}">{{.DisplayTitle}}</a>
		    <small><time title="{{.CreatedAt}}">{{timeAgo .CreatedAt}}</time></small>
		</div>
		<div style="margin: 6px 0 12px;white-space: break-spaces;">{{.Summary}}{{if ne .Content .Summary}} ...{{end}}</div>
	    </li>
	{{end -}}
    </ul>
{{end -}}

