{{define "user_list"}}

    {{template "head" .}}
    <style>
     .user-list{
	 display: flex;
	 flex-wrap: wrap;
	 list-style: none;
	 padding: 0;
     }
     .user-list li{
	 margin: 0 26px 16px 0;
     }
    </style>
    <ul class="user-list">
	{{- $csrfField := .CSRFField -}}
	{{- $debug := .Debug -}}
	{{- range .Data.List -}}
	    <li>
		<a href="/users/{{.Id}}">{{.Name}}</a>
		<div>{{.Email}}</div>
		<div class="text-lighten-3">regitered at {{ timeAgo .RegisteredAt }}</div>
		<div>
		    <small>
			<b>Role</b>: <span {{if eq .RoleFrontId "banned_user"}}style="color:red"{{end}}>{{.RoleName}}</span>
		    </small>
		</div>
		{{- if $debug -}}
		    <form action="/login_debug" method="POST">
			{{$csrfField}}
			<input name="debug-user-email" type="hidden" value="{{.Email}}"/>
			<button type="submit">Login</button>
		    </form>
		{{- end -}}
	    </li>
	{{- end -}}
    </ul>

    {{ $pagiData := dict "currPage" .Data.CurrPage "totalPage" .Data.TotalPage "pathPrefix" "/manage/users"  }}
    {{ template "pagination" $pagiData }}    

    {{template "foot" .}}

{{- end -}}
